{% extends 'Core/index.html' %}
{% load APP_shop_tags %}
{% load static %}
{% load Core_tags %}

{% block title %}xlartas | ADD RP{% endblock %}

{% block meta_keywords %}текстуры для майнкрафт майнкрафта minecraft vimeworld ваймворлд вайм ворлд rp resource pack texture resourcepack ресурспак ресурспаки текстуры ресурс пак{% endblock %}
{% block meta_og_description %}Добавить Ресурспак{% endblock %}
{% block meta_description %}Add New Resource Pack{% endblock %}
{% block meta_twitter_description %}Add New Resource Pack{% endblock %}

{% block link_content_css %}
    <link rel="stylesheet" href="{% static 'Core/css/drag_and_drop.css' %}">
{% endblock %}
{% block scripts %}
    <script src="{% static 'APP_resource_pack/js/add_new.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="content" class="container d-none  flex-col-center
     no_scrollbar mb-0 flex-grow-1"
         style="max-width: 600px!important;">
        <h1 class="position-relative text-center text-white disable-tap-and-selection mt-4">
            New Resource Pack
            <a href="{% url 'rp:catalog' %}" class="position-absolute top-0 left-0 ps-3 color-inherit">
                <i style="transform: scale(-1, 1) translateY(1px);" class="fa-solid fa-right-to-bracket"></i>
            </a>
        </h1>
        <div class="d-none w-100 mx-auto text-center">
            <span id="invalid" class="fw-8 fs-5 text-danger"></span>
        </div>
        <button type="button"
                class="fs-5 mb-2 mx-auto badge rounded-pill text-white-70 bg-black-25 text-white-50 popover-dismiss"
                data-bs-container="body" data-bs-toggle="popover"
                data-bs-placement="bottom" data-bs-trigger="focus" style="width: min-content" data-bs-content="
                Советуем делать скриншоты для рп на нашей карте, ссылка чуть ниже. Загрузите новый ресурс-пак, выбрав соответствующее
            разрешение, общую цветовую стилистику и цвет основных предметов. На обложку в каталог
            попадет изображение из Image Preview. Так же обязательно загрузить одно или более до
            4 дополнительных изображений. Вы не сможете загрузить файл с символами не входящими в utf-8.
            Укажите удобочитаемое название.">
            как загружать?
        </button>
        <a class="fs-5 mx-auto badge rounded-pill text-white-70 bg-black-25 text-white-50 text-decoration-none"
           href="{{ mapRpOverviewFile.file.url }}">карта для обзора</a>
        <form action="{% url 'rp:add_new' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if invalid %}
                <div class="text-center mt-2"><span class="text-danger">{{ invalid }}</span></div>
            {% endif %}
            <div class="d-none progress-bar-block position-relative flex-row-center mt-2">
                <progress id="progress-bar" class="mx-auto" value="55" max="100"></progress>
                <div class="position-absolute text-white fw-8 top-0 left w-100 flex-col-center text-center">
                    <span><span id="progress-bar-value">0</span> %</span>
                </div>
            </div>
            <div class="form__group mb-3">
                <input type="text" class="form__field text-center fs-5" maxlength="20"
                       placeholder="Resource Pack Name" name="name" id='name' required/>
                <label for="name" class="form__label" style="width: 100%">Name</label>
            </div>
            <div class="form-group flex-row-center gap-3 mb-3">
                <div class="select flex-col-center">
                    <span class="fs-4 text-white text-opacity-75 text-center disable-tap-and-selection">
                        Res</span>
                    <input type="hidden" name="resolution" id="select_input-resolution">
                    <div style="min-width: 80px;" class="select_block select_block-active">
                        <div class="select_btn fs-6 fw-bold px-3 py-1 bg-black bg-opacity-10
                                    text-white-75 rounded-top-3 rounded-bottom-3 disable-tap-and-selection text-center"
                             id="select_btn-resolution">
                            <span id="select_value-resolution">—</span>&nbsp;&nbsp;<i
                                class="fa-solid fa-caret-down"></i>
                        </div>
                        <div id="select_menu-resolution"
                             class="select_menu text-white-75 fs-6 rounded-bottom-3
                         bg-black bg-opacity-10 flex-column text-center">
                            {% for resolution in resolutions %}
                                <div value="{{ resolution }}" class="select_menu-item select_menu-resolution-item py-1
                                    {% if forloop.last %}rounded-bottom-3{% endif %}">
                                    <span class="m-0 disable-tap-and-selection">
                                        {{ resolution }}</span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="select flex-col-center">
                    <span class="fs-4 text-white text-opacity-75 text-center disable-tap-and-selection">
                        Style</span>
                    <input type="hidden" name="style" id="select_input-style">
                    <div style="min-width: 100px;" class="select_block select_block-active">
                        <div class="select_btn fs-6 fw-bold px-3 py-1 bg-black bg-opacity-10
                                    text-white-75 rounded-top-3 rounded-bottom-3 disable-tap-and-selection text-center"
                             id="select_btn-style">
                            <span id="select_value-style">—</span>&nbsp;&nbsp;<i
                                class="fa-solid fa-caret-down"></i>
                        </div>
                        <div id="select_menu-style"
                             class="select_menu text-white-75 fs-6 rounded-bottom-3
                         bg-black bg-opacity-10 flex-column text-center">
                            {% for style in styles %}
                                <div value="{{ style|title }}" class="select_menu-item select_menu-style-item py-1
                                    {% if forloop.last %}rounded-bottom-3{% endif %}">
                                    <span class="m-0 disable-tap-and-selection">
                                        {{ style|title }}</span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="select flex-col-center">
                    <span class="fs-4 text-white text-opacity-75 text-center disable-tap-and-selection">
                        Color</span>
                    <input type="hidden" name="color" id="select_input-color">
                    <div style="min-width: 100px;" class="select_block select_block-active">
                        <div class="select_btn fs-6 fw-bold px-3 py-1 bg-black bg-opacity-10
                                    text-white-75 rounded-top-3 rounded-bottom-3 disable-tap-and-selection text-center"
                             id="select_btn-color">
                            <span id="select_value-color">—</span>&nbsp;&nbsp;<i
                                class="fa-solid fa-caret-down"></i>
                        </div>
                        <div id="select_menu-color"
                             class="select_menu text-white-75 fs-6 rounded-bottom-3
                         bg-black bg-opacity-10 flex-column text-center">
                            {% for color in colors %}
                                <div value="{{ color|title }}" class="select_menu-item select_menu-color-item py-1
                                    {% if forloop.last %}rounded-bottom-3{% endif %}">
                                    <span class="m-0 disable-tap-and-selection">
                                        {{ color|title }}</span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <p class="text-white-65 fs-6 fw-5 mb-2 text-center">Перетащи файлы либо кликни чтобы выбрать</p>
            <div class="flex-row-center gap-3 mb-3 disable-tap-and-selection">
                <div id="drag_drop_rp_file"
                        class="drag_drop px-2 bg-black-35 dashboard flex-col-center text-center pb-1">
                    <span id="drag_drop_rp_file-name" class="text-white-75 fs-5 fw-7">RP File</span>
                    <span class="text-white-55 fs-6 fw-5">100 MB</span>
                    <input type="file" class="form-control-file d-none"
                           id="file_input" name="file" accept=".rar, .7zip, .zip" required>
                </div>
                <div id="drag_drop_preview" class="drag_drop px-2 bg-black-35 dashboard flex-col-center text-center pb-1">
                    <span class="text-white-75 fs-5 fw-7">Preview Image</span>
                    <span class="text-white-55 fs-6 fw-5">5 MB</span>
                    <input type="file" class="d-none" id="preview_input" name="image_preview"
                       accept=".jpeg, .jpg, .png" required>
                </div>
                <div id="drag_drop_images" class="drag_drop px-2 bg-black-35 dashboard flex-col-center text-center pb-1">
                    <span class="text-white-75 fs-5 fw-7">Other Images</span>
                    <span class="text-white-55 fs-6 fw-5">5 MB (5 шт.)</span>
                    <input type="file" class="d-none" id="images" name="images[]" multiple
                       accept=".jpeg, .jpg, .png" required>
                </div>
            </div>
            <div id="preview-image-preview" class="row p-0 m-0 mb-2"></div>
            <div id="images-preview" class="row p-0 m-0"></div>
            <div class="d-none recaptcha_mark"></div>
        </form>
        <div class="text-center my-3">
            <button id="btn_submit" class="btn-1 fs-5 fw-bold px-4 py-1">Create</button>
        </div>
    </div>
    <script>
        window.addEventListener('load', function (e) {
            let for_insert = document.getElementsByClassName('recaptcha_mark')[0];
            let el = document.createElement('script');
            el.setAttribute('src', 'https://www.google.com/recaptcha/api.js');
            let el2 = document.createElement('div');
            if (document.getElementsByTagName('body')[0].classList.contains('_touch')) {
                el2.setAttribute("data-size", "compact");
                el2.classList.add('g-recaptcha-small');
            }
            el2.setAttribute("data-sitekey", "{% get_GOOGLE_RECAPTCHA_SITE_KEY %}");
            el2.classList.add('g-recaptcha');
            for_insert.before(el);
            for_insert.before(el2);
        });
    </script>
{% endblock %}