{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ subject }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body bgcolor="#161415"
      style="margin: 0; padding: 0; width: 600px; max-width: 600px; background-color: #161415; font-family: Arial, sans-serif;">
<table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#161415">
    <tr>
        <td height="20px"></td>
    </tr>
    {# spacer #}
    <tr>
        <h3 style="font-size: 28px; text-align: center; color: #eeeeee; padding: 0 10px; margin: 0;">{{ subject }}</h3>
    </tr>
    <tr bgcolor="#161415">
        <td align="center" style="font-size: 16px; line-height: 1.5; padding: 0 20px; color: #dddddd">
            {{ content|safe }}
        </td>
    </tr>
    <tr>
        <td align="center" style="">
            <p style="height: 1px; width: 70%!important; background-color: #777777;"></p>
        </td>
    </tr>

    <tr>
        <td align="center" style="font-size: 16px; line-height: 1.5; margin-top: 15px; user-select: all;">
            <table>
                <tr>
                    <td>
                        <a href="https://xlartas.ru/"
                           style="font-size: 16px; color: #777777; margin: 0 10px; text-decoration: none;">xlartas.ru</a>
                    </td>
                    <td>
                        <a href="https://xlartas.ru/companies/XLARTAS"
                           style="font-size: 16px; color: #777777; margin: 0 10px; text-decoration: none;">About Us</a>
                    </td>
                    <td>
                        <a href="https://xlartas.ru/softwares/"
                           style="font-size: 16px; color: #777777; margin: 0 10px; text-decoration: none;">Softwares</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="20px"></td>
    </tr>
    {# spacer #}
</table>
</body>
</html>