{% extends 'Core/index.html' %}
{% load static %}
{% load Core_tags %}
{% load Core_tags %}
{% load socialaccount %}
{% block title %}xlartas | REFERRAL PROGRAM{% endblock %}

{% block meta_keywords %}referral реферальная рефералка программа система{% endblock %}
{% block meta_description %}Referral program{% endblock %}
{% block meta_og_description %}Реферальная программа{% endblock %}
{% block meta_twitter_description %}Referral program{% endblock %}

{% block content %}
    <div id="content" class="container d-none  fcc flex-grow-1"
         data-bs-theme="dark" style="max-width: 600px;">
        <form method="get" action="https://pay.freekassa.ru/">
            <input type="hidden" name="m" value="{{ merchant_id }}">
            <input type="hidden" name="oa" value="{{ order_amount }}">
            <input type="hidden" name="o" value="{{ order_id }}">
            <input type="hidden" name="s" value="{{ sign }}">
            <input type="hidden" name="currency" value="{{ currency }}">
            <input type="hidden" name="i" value="1">
            <input type="hidden" name="lang" value="ru">
            <input type="hidden" name="us_user_id" value="{{ user_id }}">
            <input type="submit" name="pay" value="Оплатить">
        </form>
    </div>
{% endblock %}