{% extends 'Core/base.html' %}
{% load static %}
{% load Core_tags %}
{% load recaptcha_tags %}

{% block title %}xlartas | Donate{% endblock %}

{% block meta_keywords %}Donate{% endblock %}
{% block meta_description %}Donate{% endblock %}
{% block meta_og_description %}Донат{% endblock %}
{% block meta_twitter_description %}Donate{% endblock %}

{% block content %}
        <div id="content" class="fcc mx-auto d-none h-100 flex-grow-1">
            <h1 class="text-white fw-bold fs-1 text-center">Donate</h1>
            <p class="text-white-80 fs-5 text-center m-0">Спасибо за поддержку проекта</p>
            <div class="frc">
                <form class="fcc" method="post" action="{% url 'donate' %}">
                    {% csrf_token %}
                    {% include 'Core/includes/form.html' with form=form %}
                    <button id="btn-recaptcha-marked" class="btn-3 mt-3 mx-auto rounded-3 fs-3">Pay</button>
                    {% include 'Core/includes/recaptcha_script.html' with mark_el_id='btn-recaptcha-marked'%}
                </form>
            </div>
        </div>

{% endblock %}