<button type="button"
        id="btnShowInfo"
        class="
        fs-5 badge rounded-pill
        text-white-70 bg-black-25
        popover-dismiss">
    Info
</button>
<div class="infoModalWrap d-none d-flex flex-column position-absolute top-0 left-0 w-100vw h-100vh"
     id="infoModalWrap">
    <div class="d-flex rounded-3 flex-column mx-auto py-3 px-2 w-90 backdrop-blur-20 bg-black-15"
         style="max-width: 400px; height: calc(100vh - 100px); margin-top: 80px; z-index: 2; box-shadow: 0 0 10px #00000099">
        <div class="modal-header frc gap-4">
            <h3 class="text-white fs-3 m-0">Info</h3>
            <button class="btn-close my-auto"></button>
        </div>
        <div class="modal-body">

        </div>
    </div>

</div>

<script>
    function initInfoModal() {
        const modal = document.getElementById('infoModalWrap');
        modal.addEventListener('click', () => {
            modal.classList.toggle('d-none');
        });

        const btnShowInfo = document.getElementById('btnShowInfo');
        btnShowInfo.addEventListener('click', () => {
            modal.classList.toggle('d-none');
        });
    }
    initInfoModal()
</script>