{% extends "admin/base_site.html" %}
{% load static %}
{% block title %}Гибкий график посещений{% endblock %}
{% block content %}
    <div class="fc w-100">
        <form method="get">
            <label for="period">Выберите период:</label>
            <select name="period" id="period" onchange="this.form.submit()">
                <option value="day" {% if selected_period == 'day' %}selected{% endif %}>За день</option>
                <option value="week" {% if selected_period == 'week' %}selected{% endif %}>За неделю</option>
                <option value="month" {% if selected_period == 'month' %}selected{% endif %}>За месяц</option>
            </select>
        </form>

        <canvas id="visitsChart" style="width: 100%; max-width: 800px; max-height: 300px"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('visitsChart').getContext('2d');
        const visitsChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{ labels|safe }},
                datasets: [{
                    label: 'Количество посещений',
                    data: {{ data|safe }},
                    fill: false,
                    borderColor: 'rgba(75, 192, 192, 1)',
                    tension: 0.1,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)'
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        display: true,
                        position: 'top',
                        labels: {
                            color: '#777'  // цвет текста легенды
                        }
                    },
                    title: {
                        display: true,
                        text: 'Статистика посещений',
                        color: '#bbb',  // цвет заголовка
                        font: {
                            size: 18,  // размер заголовка
                        }
                    }
                },
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Дата',
                            color: '#ccc'  // цвет подписи оси X
                        },
                        ticks: {
                            color: '#999'  // цвет меток оси X
                        },
                        grid: {
                            color: '#fff3'  // цвет линий сетки по оси X
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Количество посещений',
                            color: '#ccc'  // цвет подписи оси Y
                        },
                        ticks: {
                            color: '#999'  // цвет меток оси Y
                        },
                        grid: {
                            color: '#fff3'  // цвет линий сетки по оси Y
                        },
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
{% endblock %}
