{% extends 'Core/index.html' %}
{% load shop_tags %}
{% load static %}
{% load Core_tags %}
{% load Core_tags %}
{% load tz %}
{% block title %}xlartas | {{ product.name }}{% endblock %}

{% block meta_keywords %}{{ product.name }} {{ product.long_name }} minecraft vimeworld вайм ворлд ваймворлд майнкрафт
    майнкрафта софты кликер макрос macros clicker soft pvp для пвп рич{% endblock %}
{% block meta_description %}Product - {{ product.long_name }}{% endblock %}
{% block meta_og_description %}Продукт - {{ product.long_name }}{% endblock %}
{% block meta_twitter_description %}Product - {{ product.long_name }}{% endblock %}

{% block link_content_css %}
    <link rel="stylesheet" href="{% static 'APP_shop/css/shop.css' %}">
    <link rel="stylesheet" href="{% static 'Core/css/modal.css' %}">
{% endblock %}
{% block scripts %}
    <script src="{% static 'APP_shop/js/shop.js' %}"></script>
    <script src="{% static 'Core/js/modal.js' %}"></script>
{% endblock %}


{% block content %}
    <div id="content" class="d-none container shop fcc flex-grow-1
    no_scrollbar disable-tap-and-selection mb-0"
         data-bs-theme="dark">

        {% include 'Core/includes/form.html' with form=form errors_only=True %}
        {% include 'shop/includes/modal_buy_license.html' with product=product %}
        <div class="u-modal flex-column justify-content-center"
             id="modalTestPeriod{{ product.name }}{{ product.id }}">
            <div class="modal-content mx-auto p-3 rounded-3">
                <form class="bg-transparent" method="post"
                      action="{% url 'shop:activate_test_period' %}">{% csrf_token %}
                    <div class="modal-header d-flex gap-2">
                        {% with product.long_name|length as name_length %}
                            <h1 class="m-0 mx-auto text-white-90 {% if name_length > 4 %}fs-4{% else %}fs-2{% endif %}">{{ product.long_name }}
                                Test</h1>
                        {% endwith %}

                        <button type="button" class="btn-close"
                                onclick="closeModal('modalTestPeriod{{ product.name }}{{ product.id }}')"></button>
                    </div>
                    <div class="modal-body d-flex flex-column mt-3 px-2 no_scrollbar">
                        <p class="text-dark-emphasis ">
                            &nbsp;&nbsp;&nbsp;&nbsp;После активации вам будет выдано {{ product.test_period_days }}
                            дня/дней полной лицензии
                            на {{ product.name }}.
                            Тестовый период можно использовать только 1 раз. Нажмите на кнопку ниже для активации.
                        </p>
                    </div>
                    <input type="hidden" name="product" value="{{ product.name }}">
                    <div class="modal-footer frc gap-3 mt-2">
                        <button type="submit" class="btn-1 fw-bold">Активировать</button>
                    </div>
                </form>
            </div>
        </div>
        <div style="max-width: 500px!important;" class="mx-auto mt-2 mt-sm-2 mb-2">
            <div style="">
                <div class="row row-cols-1 row-cols-sm-2 p-0 m-0 rounded-top-5 bg-black-25"
                     style="backdrop-filter: blur(10px);">
                    <div class="col fcc ps-3 py-2 ps-2">
                        <div class="product-img-block mx-auto" style="max-width: 195px;">
                            <img src="{{ product.img.url }}" class="product-img" alt="">
                            <img src="{{ product.img.url }}" class="product-img product-img-bg" alt="">
                        </div>
                    </div>
                    <div class="col fcc pe-3 py-2 pe-2">
                        <div class="fcc mx-auto" style="width: 195px;">
                            <div class="fcc">
                                {% with product.long_name|length as name_length %}
                                    <h1 class="fw-8 d-inline text-white text-center {% if name_length > 5 %}fs-2{% else %}fs-1{% endif %}">{{ product.long_name }}</h1>
                                {% endwith %}

                            </div>
                            <div class="fcc gap-2" style="width: 195px;">
                                {% if product.name != 'xLMACROS' %}
                                    <div class="frc">
                                        <div class="btn-radio btn-radio-1 bg-black-15 px-3 py-2 rounded-3 btn-radio-1-active-2 m-0"
                                             style="width: 150px;"
                                             onclick="showModal('modal{{ product.name }}{{ product.id }}')">
                                            <p class="text-white-90 m-0">Купить</p>
                                            <p class="text-white-90 m-0 btn-radio-1-price {% if product.price_week > 9999 %} fs-7 mt-1 {% endif %} ">{{ product.price_week }}
                                                ₽</p>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if not is_test_period_activated %}
                                    <div class="frc">
                                        <div class="btn-radio btn-radio-1 bg-black-15 px-3 py-2 rounded-3 btn-radio-1-active-2 m-0"
                                             style="width: 170px; filter: hue-rotate(240deg)"
                                             onclick="showModal('modalTestPeriod{{ product.name }}{{ product.id }}')">
                                            <p class="text-white-90 m-0 w-100 text-center">
                                                {% if product.name == 'xLMACROS' %}
                                                    Бета тест
                                                {% else %}
                                                    Тестовый период
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="frc">
                                    <div class="btn-radio btn-radio-1 bg-black-15 px-3 py-2 rounded-3 btn-radio-1-active-2 m-0"
                                         style="width: 195px; filter: grayscale(1)">
                                        <a class="d-block text-center text-decoration-none text-white-90"
                                           href="{% url 'referral:info' %}"
                                           target="_blank">Получить бесплатно</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-black-25"
                     style="backdrop-filter: blur(20px); height: 4px; width: 100%; margin-right: 2px;"></div>

                <div class="row row-cols-1 row-cols-sm-2 p-0 m-0 border-black-25 bg-black-10 bg-clip-padding"
                     style="backdrop-filter: blur(20px); border: 4px solid; border-top: 0;">
                    <div class="col flex-col position-relative p-0 pt-3 pb-0 pb-sm-3">
                        <div class="fcc px-2 pb-3">
                            <span class="fs-6 fw-8 text-white-75">Версия:
                            <span class="text-white-50">{{ product.version }}</span></span>
                            <span class="fs-6 fw-8 text-white-75">Обновлено:
                            <span class="text-white-50 fs-6 fw-6">
                                {{ product.date_updated | time_since }}
                        </div>
                        <div class="bg-black-25" style="height: 4px; width: calc(100% - 4px); margin-right: 2px;"></div>
                        <div class="fcc px-2 py-2 text-center">
                            <span class="fs-6 fw-8 text-white-75">Запусков:
                            <span class="fs-6 text-white-50">{{ count_starts }}</span></span>
                        </div>
                        <div class="bg-black-25" style="height: 4px; width: calc(100% - 4px); margin-right: 2px;"></div>
                        <div class="fcc flex-grow-1 text-center px-2 pt-1 pt-sm-3">
                            <div class="fs-1 frc gap-4">
                                <a class="text-white-60 text-decoration-none"
                                   href="{% url 'shop:download_program' product.id %}">
                                    <i class="fa-solid fa-cloud-arrow-down"
                                       style="transform: scale(0.94) translateY(-1px);"></i></a>
                                <a class="text-white-60 text-decoration-none" target="_blank"
                                   href="{{ product.review_ulr }}">
                                    <i class="fa-brands fa-youtube"></i></a>
                            </div>
                        </div>
                        <div class="d-none d-sm-block bg-black-25 h-100 position-absolute"
                             style="top: 0; right: 0; width: 4px;"></div>
                    </div>
                    <div class="bg-black-25 d-block d-sm-none"
                         style="height: 4px; width: calc(100% - 4px); margin-right: 2px;"></div>
                    <div class="col fcc position-relative py-3 ps-3 pe-1">
                        <div class="fcc">
                            {% if product.name == 'xLUMRA' %}
                                {% include 'shop/includes/xlumra_custom_product_block.html' %}
                            {% endif %}
                            {% if product.name == 'xLGUILD' %}
                                {% include 'shop/includes/xlguild_custom_product_block.html' %}
                            {% endif %}
                            {% if product.name == 'xLMACROS' %}
                                {% include 'shop/includes/xlmacros_custom_product_block.html' %}
                            {% endif %}

                        </div>
                    </div>
                </div>
                <div class="row px-0 py-3 m-0 border-black-25 bg-black-10 bg-clip-padding rounded-bottom-5"
                     style="backdrop-filter: blur(20px); border: 4px solid; border-top: 0;">
                    <div class="fcc flex-sm-row gap-3">
                        <button type="button" class="fs-5 badge rounded-pill text-white-70 bg-black-25 popover-dismiss"
                                data-bs-toggle="modal" data-bs-target="#infoModal">
                            Информация
                        </button>
                        <button type="button" class="fs-5 badge rounded-pill text-white-70 bg-black-25 popover-dismiss"
                                data-bs-toggle="modal" data-bs-target="#logModal">
                            Лог изменений
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable ">
                <div class="modal-content bg-black-25 backdrop-blur-20">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5 text-white-90" id="infoModalLabel">Информация</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p class="text-white-80">&nbsp;&nbsp;&nbsp;&nbsp;Для входа в программы используется ваше имя и
                            secret key из
                            <a href="{% url 'profile' %}">профиля</a>.
                            Скачивайте {{ product.long_name }} и пользуйтесь! Подробный Гайд по использованию есть в
                            программе. Так же можете глянуть видео. Если возникнут проблемы пишите
                            по <a href="{% url 'about' %}">контактным данным</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="logModal" tabindex="-1" aria-labelledby="logModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content bg-black-25 backdrop-blur-20">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5 text-white-90" id="logModalLabel">Лог обновлений</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body no_scrollbar">
                        <p class="text-white-80">{{ product.log_changes|safe }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{#                {% if product.name == 'xLUMRA' %}#}
{#                    <div class="fcc">#}
{#                        <div class="frc">#}
{##}
{#                        </div>#}
{#                    </div>#}
{#                {% else %}#}
{#                    <div class="row frc mb-1">#}
{#                        <p class="text-white text-opacity-75 fs-6">&nbsp;&nbsp;&nbsp;&nbsp;{{ product.desc }}</p>#}
{#                    </div>#}
{#                {% endif %}#}
{##}
{#                {% if product.review_ulr %}#}
{#                    <div class="row frc mb-4 px-3       mt-5">#}
{#                        <iframe width="560" height="315" src="{{ product.review_ulr }}"#}
{#                                title="YouTube video player" frameborder="0"#}
{#                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"#}
{#                                allowfullscreen style="max-width: 80vw; max-height: 45vw"></iframe>#}
{#                    </div>#}
{#                {% endif %}#}
{#                <div class="row frc mb-4">#}
{#                    <a href="{% url 'download' product.file.file %}"#}
{#                       class="btn-1 fw-6 text-decoration-none text-center fs-4"#}
{#                       style="width: min-content; white-space: nowrap; letter-spacing: 0.05rem">#}
{#                        Скачать {{ product.file.file_name }}#}
{#                    </a>#}
{#                </div>#}
{#                {% if product.type == product.ProductType.program %}#}
{#                    <div class="row frc mb-4">#}
{#                        <p class="fs-1 text-center fw-bold">Установка</p>#}
{#                        <p class="text-white text-opacity-75">&nbsp;&nbsp;&nbsp;&nbsp;Для работы программы необходим#}
{#                            <span style="color: rgb(255,255,255);font-weight: 500;">OpenSSL</span>#}
{#                            <span style="font-size: 0.9rem;">(Win32OpenSSL_Light-1_1_1m)</span>.#}
{#                            При открытии {{ product.long_name }}, если OpenSSL нет, вам откроется его установщик.#}
{#                            Если что-то идет не так попробуйте установить его отдельно по#}
{#                            <a href="https://slproweb.com/download/Win32OpenSSL_Light-1_1_1s.exe"#}
{#                               style="color: rgb(132,204,255);" class="text-decoration-none">#}
{#                                этой ссылке#}
{#                            </a>#}
{#                        </p>#}
{##}
{#                        <p class="text-white text-opacity-75">#}
{#                            &nbsp;&nbsp;&nbsp;&nbsp;Скачивайте <span#}
{#                                style="color: rgb(255,0,59);font-weight: 500;">{{ product.long_name }}</span> и#}
{#                            пользуйтесь! Подробный Гайд по использованию есть в программе.#}
{#                            Если возникнут проблемы пишите в телегу#}
{#                            <a href="https://t.me/xldeal" style="color: rgb(63,198,198);font-weight: 500;"#}
{#                               target="_blank" class="text-decoration-none">@xldeal</a> отвечаю быстро.#}
{#                        </p>#}
{#                    </div>#}
{##}
{#                    <div class="row frc mb-4">#}
{#                        <p class="text-center fw-bold fs-3">LOG</p>#}
{#                        <p style="max-width: 400px;" class="lh-1 text-white text-opacity-75">#}
{#                            {{ product.log_changes|safe }}</p>#}
{#                    </div>#}
{#                {% endif %}#}