{% load socialaccount %}
{% load static %}
{% load Core_tags %}
{% load Core_tags %}

<header class="disable-tap-and-selection mx-auto w-100">
    <nav class="backdrop-blur-10-header navbar navbar-expand-md m-auto rounded-bottom-5 rounded-top-0"
         data-bs-theme="dark">
        <div class="container-fluid p-0">
            <a href="{% url 'main' %}" class="ms-4">
                <img src="{% static 'Core/img/logo_unboarder_with_text.png' %}"
                     height="50" width="157"
                     class="header-logo d-block img-fluid" alt="">
            </a>
            <div class="navbar-toggler mt-1 me-4" type="button" data-bs-toggle="collapse"
                 data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                 aria-expanded="false" aria-label="Toggle navigation" style="border: 0;">
                <div id="burger-btn" style="width: 30px; height: 30px;
                        display: flex; flex-direction: column;
                        justify-content: space-between; padding: 4px 0;">
                    <span style="background-color: #fff; width: 100%; height: 1px;"></span>
                    <span style="background-color: #fff; width: 100%; height: 1px;"></span>
                    <span style="background-color: #fff; width: 100%; height: 1px;"></span>
                </div>
            </div>
            <div class="collapse navbar-collapse px-5 fs-4" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto mb-2 mb-md-0 ">
                    <li class="nav-item pt-1 px-4 btn-12">
                        <a class="nav-link text-dark-emphasis fw-7" href="{% url 'shop:catalog' %}">SHOP</a>
                    </li>
                    <li class="nav-item pt-1 px-4 dropdown-center">
                        <div class="nav-link fw-7 dropdown-toggle dropdown-toggle-without_arrow text-dark-emphasis"
                             role="button"
                             data-bs-toggle="dropdown"
                             aria-expanded="false" style="text-align: center">
                            MORE
                        </div>
                        <ul class="dropdown-menu dropdown-menu-u1 p-2 bg-black-15 backdrop-blur-10">
                            <li>
                                <a href="{% url 'harmony:trainer' %}" class="dropdown-item">
                                    <div class="text-decoration-none text-dark-emphasis"
                                         style="display: inline-block !important;">
                                        <img src="{% static 'harmony/img/music_icon.png' %}" alt=""
                                             width="24" height="24"
                                             style="margin-right: 4px; padding-right: 5px; filter: invert(8.3)">
                                        <span class="fw-7"
                                              style="text-decoration: none;">
                                        Harmony
                                    </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'rp:catalog' %}" class="dropdown-item">
                                    <div class="text-decoration-none text-dark-emphasis"
                                         style="display: inline-block !important;">
                                        <img src="{% static 'resource_pack/img/pickaxe.png' %}" alt=""
                                             style="transform: scale(1.14); margin-right: 4px;">
                                        <span class="fw-7"
                                              style="text-decoration: none;">
                                        Resource packs
                                    </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'host:create' %}" class="dropdown-item">
                                    <div class="text-decoration-none text-dark-emphasis"
                                         style="display: inline-block !important;">
                                        <i class="fa-solid fa-file-export mx-auto me-1"></i>
                                        <span class="fw-7"
                                              style="text-decoration: none;">
                                        File host
                                    </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'private-msg:create' %}" class="dropdown-item">
                                    <div class="text-decoration-none text-dark-emphasis"
                                         style="display: inline-block !important;">
                                        <i class="fa-solid fa-comment-medical me-1"></i>
                                        <span class="fw-7"
                                              style="text-decoration: none;">
                                        Private Msg
                                    </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a href="#" class="dropdown-item">
                                    <div class="text-decoration-none text-dark-emphasis"
                                         style="display: inline-block !important;">
                                        <i class="fa-solid fa-circle-dollar-to-slot me-1"></i>
                                        <span
                                                class="fw-7"
                                                style="text-decoration: none;">
                                        Donate
                                    </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'about' %}" class="dropdown-item">
                                    <div class="text-decoration-none text-dark-emphasis"
                                         style="display: inline-block !important;">
                                        <i class="fa-solid fa-circle-info me-1"></i>
                                        <span
                                                class="fw-7"
                                                style="text-decoration: none;">
                                        About
                                    </span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <ul class="mx-auto mb-1 bg-secondary" id="menu-divider"
                    style="width: 70%; height: 1px; display: none;"></ul>

                <ul class="navbar-nav ms-auto mb-2 mb-md-0 gap-2">
                    <li class="nav-item pt-1 dropdown" id="signin-dropdown">
                        <a class="nav-link dropdown-toggle dropdown-toggle-without_arrow text-center"
                           id="signin-dropdown-link"
                           href="{% url 'profile' %}"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <div style="display: inline-block;">
                                <i class="fa-solid fa-user me-1"></i>
                                <span tabindex="99" class="fw-7 text-white-80" style="display:
                                        {% if user.is_authenticated %}inline{% else %}none{% endif %};"
                                      id="signIn-btn">
                                {% if user.is_authenticated %}{{ user.username }}{% else %}SIGN IN{% endif %}</span>
                            </div>
                        </a>

                        {% if not user.is_authenticated %}
                            <a class="nav-link text-center"
                               id="signup-dropdown-link"
                               href="{% url 'signup' %}"
                               role="button"
                               aria-expanded="false" style="display: none;">
                                <div style="display: inline-block;">
                                    <span tabindex="99" style="display: inline;"
                                          id="signIn-btn">SIGN UP</span>
                                </div>
                            </a>
                        {% endif %}
                        <ul class="dropdown-menu only-pc dropdown-menu-end dropdown-menu-u1 p-2 backdrop-blur-10"
                            id="auth_block">
                            {% if user.is_authenticated %}
                                {% if user.is_staff %}
                                    <li>
                                        <a class="dropdown-item" href="{% url 'admin:index' %}">
                                            <div class="text-dark-emphasis text-decoration-none d-inline-block">
                                                <i class="fa-solid fa-unlock me-1"></i>
                                                <span class="text-dark-emphasis fw-7 fs-6">Admin</span>
                                            </div>
                                        </a>
                                    </li>
                                    <div class="dropdown-divider" style="margin: 5px 0!important;"></div>
                                {% endif %}
                                <li>
                                    <a class="dropdown-item" href="{% url 'profile' %}">
                                        <div class="text-dark-emphasis text-decoration-none d-inline-block">
                                            <i class="fa-solid fa-address-card me-1"></i>
                                            <span class="text-dark-emphasis fw-7 fs-6">Profile</span>
                                        </div>
                                    </a>
                                </li>
                                <div class="dropdown-divider" style="margin: 5px 0!important;"></div>
                                <li>
                                    <a class="dropdown-item" href="{% url 'logout' %}?next={% url 'main' %}">
                                        <div class="text-dark-emphasis text-decoration-none d-inline-block">
                                            <i class="fa-solid fa-right-from-bracket me-1"></i>
                                            <span class="text-dark-emphasis fw-7 fs-6">Logout</span>
                                        </div>
                                    </a>
                                </li>
                            {% else %}
                                <li id="auth_form" style="min-width: 300px;">
                                    <form class="px-3 py-1" method="post" action="{% url 'signin' %}">{% csrf_token %}
                                        {% get_login_form as header_login_form %}
                                        {% include 'Core/includes/form.html' with form=header_login_form %}

                                        <div class="text-center pt-3 pb-1">
                                            <button type="submit" id="button" data-text="SIGN IN" data-text-done=""
                                                    class="btn-13 bg-transparent text-dark-emphasis"></button>
                                        </div>
                                        {# OAuth #}
{#                                        <div id="vk_auth_header" class="mx-auto mt-2 rounded-4"></div>#}
{#                                        <script type="text/javascript">#}
{#                                            VK.init({apiId: 51423204});#}
{#                                            VK.Widgets.Auth("vk_auth_header", {"authUrl": "/accounts/vk/login/callback"});#}
{#                                            document.getElementById('vk_auth_header').style.display = 'none';#}
{#                                        </script>#}
                                        <div class="text-center pt-3 pb-2">
                                            <div class="frc">
                                                <a href="{% provider_login_url "google" %}" class="px-1"><img
                                                        src="{% static 'Core/img/google.png' %}" alt=""
                                                        style="max-width: 40px;"></a>
                                                <div class="px-1" id="TelegramBtnHeader">
                                                    <img src="{% static 'Core/img/telegram.png' %}" alt=""
                                                         style="max-width: 40px;">
                                                    <script src="https://telegram.org/js/telegram-widget.js?19"
                                                            data-telegram-login="xlartas_web_bot" data-size="large"
                                                            data-radius="8"
                                                            data-userpic="false"
                                                            data-auth-url="https://xlartas.ru/accounts/telegram/login/callback/"
                                                            data-request-access="write">

                                                    </script>

                                                    <script>
                                                        let tg_btn_header = document.getElementById('telegram-login-xlartas_web_bot');
                                                        tg_btn_header.removeAttribute('id');
                                                        tg_btn_header.classList.add('telegram-auth')
                                                    </script>
                                                </div>
{#                                                <div class="px-1"#}
{#                                                     onclick="document.getElementById('vk_auth_header').style.display = 'block';">#}
{#                                                    <img src="{% static 'Core/img/vkontakte.png' %}" alt=""#}
{#                                                         style="max-width: 40px;"></div>#}
{#                                                <a href="{% provider_login_url "github" %}" class="px-1"><img#}
{#                                                        src="{% static 'Core/img/github-mark-white.png' %}" alt=""#}
{#                                                        style="max-width: 40px;"></a>#}

                                            </div>
                                        </div>
                                    </form>
                                    <div class="dropdown-divider"></div>
                                    <style>
                                        .active-span-red {
                                            transition: all 300ms ease;
                                        }

                                        .active-span-red:active > span {
                                            color: white !important;
                                        }
                                    </style>
                                    <a class="dropdown-item active-span-red" href="{% url 'signup' %}">
                                        New around here? <span class="active-span-red"
                                                               style="color: #f03756;">Sign up</span>
                                    </a>
                                    <a class="dropdown-item" href="{% url 'password_reset' %}">Forgot password?</a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>

                    {% if user.is_authenticated %}
                        <li class="fcc nav-link dropdown-toggle
                        dropdown-toggle-without_arrow text-center hover-scale-5">
                            <a href="{% url 'shop:orders' %}"
                               class="mt-1 text-white-75 fw-bold text-decoration-none">
                                {{ user.balance }} ₽</a>
                        </li>
                        {% if user.is_staff %}
                            <li class="nav-item pt-1 only_touch">
                                <a class="nav-link dropdown-toggle dropdown-toggle-without_arrow text-center"
                                   id="admin-dropdown-link"
                                   href="{% url 'admin:index' %}?next=/"
                                   role="button">
                                    <div style="display: inline-block;">
                                        <i class="fa-solid fa-unlock"></i>
                                        <span>Admin</span>
                                    </div>
                                </a>
                            </li>
                        {% endif %}
                        <li class="nav-item pt-1 only_touch">
                            <a class="nav-link dropdown-toggle dropdown-toggle-without_arrow text-center"
                               id="logout-dropdown-link"
                               href="{% url 'logout' %}?next=/"
                               role="button">
                                <div style="display: inline-block;">
                                    <i class="fa-solid fa-right-from-bracket"></i>
                                    <span>Logout</span>
                                </div>
                            </a>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>
</header>