<div id="select-{{ id }}" class="select {{ classes }} gap-3" style="{{ style }}">
    {% if select_title %}
        <span class="fs-4 text-white text-opacity-75 text-center disable-tap-and-selection">
                        {{ select_title }}</span>
    {% endif %}

    <input type="hidden" name="{{ select_input_name }}" id="select_input-{{ select_input_name }}" value="{{ default_value }}">
    <div style="{{ style }}" class="select_block select_block-active">
        <div class="select_btn fs-6 fw-bold px-3 py-2 bg-black bg-opacity-10
                                    text-white-75 rounded-top-3 rounded-bottom-3 disable-tap-and-selection text-center"
             id="select_btn-{{ select_input_name }}">
            <span id="select_value-{{ select_input_name }}">{% if default_value %}{{ default_value }}{% else %}—{% endif %}</span>&nbsp;&nbsp;<i
                class="fa-solid fa-caret-down"></i>
        </div>
        <div id="select_menu-{{ select_input_name }}" style="max-height: 300px;"
             class="select_menu text-white-75 fs-6 rounded-bottom-3 overflow-y-scroll
                         bg-black bg-opacity-10 flex-column text-center no_scrollbar">
            {% for name, value in elements_dict.items %}
                <div value="{{ value }}" class="select_menu-item select_menu-{{ select_input_name }}-item py-1
                                    {% if forloop.last %}rounded-bottom-3{% endif %}">
                                    <span class="m-0 disable-tap-and-selection">
                                        {{ name }}</span>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<script>
    const select_{{ id }} = document.getElementById('select-{{ id }}');
    const {{ select_input_name }}_input_{{ id }} = select_{{ id }}.querySelector(
        '#select_input-{{ select_input_name }}');
    const {{ select_input_name }}_items_{{ id }} = select_{{ id }}.getElementsByClassName(
        'select_menu-{{ select_input_name }}-item');
    const {{ select_input_name }}_visible_value_{{ id }} = select_{{ id }}.querySelector(
        '#select_value-{{ select_input_name }}');
    const {{ select_input_name }}_select_btn_{{ id }} = select_{{ id }}.querySelector(
        '#select_btn-{{ select_input_name }}');
    const {{ select_input_name }}_menu_{{ id }} = select_{{ id }}.querySelector(
        '#select_menu-{{ select_input_name }}');
    {{ select_input_name }}_select_btn_{{ id }}.addEventListener('click', function () {
        {{ select_input_name }}_menu_{{ id }}.classList.toggle('select_menu-active');
        this.classList.toggle('rounded-bottom-3');
    })
    for (let i = 0; i < {{ select_input_name }}_items_{{ id }}.length; i++) {
        {{ select_input_name }}_items_{{ id }}[i].addEventListener('click', function () {
            {{ select_input_name }}_visible_value_{{ id }}.innerText = this.getAttribute('value');
            {{ select_input_name }}_visible_value_{{ id }}.click();
            {{ select_input_name }}_input_{{ id }}.value = this.getAttribute('value');
            for (let j = 0; j < {{ select_input_name }}_items_{{ id }}.length; j++) {
                {{ select_input_name }}_items_{{ id }}[j].classList.remove('select_menu-item-active');
            }
            this.classList.add('select_menu-item-active');
        })
    }

</script>