{# input new password#}
{% extends 'Core/index.html' %}
{% load static %}
{% load Core_tags %}

{% block title %}xlartas | RESET PASSWORD{% endblock %}

{% block meta_keywords %}RESET PASSWORD{% endblock %}
{% block meta_description %}Reset password{% endblock %}
{% block meta_og_description %}Сброс пароля{% endblock %}
{% block meta_twitter_description %}Reset password{% endblock %}

{% block content %}
    <div id="content" class="container d-none  flex-col-center flex-grow-1" data-bs-theme="dark"
         style="max-width: 400px;">
        <div class="row disable-tap-and-selection ">
            <h1 class="text-dark-emphasis fs-1 text-center">RESET PASSWORD</h1>
            <form class="px-3 py-1 text-center" method="post"
                  action="{% url 'password_reset_confirmation' code %}">{% csrf_token %}
                {% include 'Core/includes/form.html' with form=form %}
                <div class="text-center pt-3 pb-1">
                    <button type="submit" id="button" data-text="RESET" data-text-done=""
                            class="btn-13 bg-transparent text-dark-emphasis mt-3"></button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}