{% extends 'Core/index.html' %}
{% load static %}
{% load Core_tags %}
{% load socialaccount %}
{% block title %}xlartas | RESET PASSWORD{% endblock %}

{% block meta_keywords %}RESET PASSWORD{% endblock %}
{% block meta_description %}Reset password{% endblock %}
{% block meta_og_description %}Сброс пароля{% endblock %}
{% block meta_twitter_description %}Reset password{% endblock %}

{% block content %}
    <div id="content" class="container d-none  flex-col-center flex-grow-1" data-bs-theme="dark"
         style="max-width: 400px;">
        <div class="row disable-tap-and-selection ">
            <form class="px-3 py-1 text-center" method="post" action="{% url 'password_reset' %}">{% csrf_token %}
                <span class="text-dark-emphasis fs-1">RESET PASSWORD</span>
                {% if invalid %}
                    <div><span class="text-danger">{{ invalid }}</span></div>
                {% endif %}
                <div class="mb-3 form__group fs-5">
                    <input type="email" class="form__field text-center"
                           placeholder="Email" name="email" id='email' required/>
                    <label for="username" class="form__label" style="width: 100%">Email</label>
                </div>
                <div class="text-center pt-3 pb-1">
                    <button type="submit" id="button" data-text="NEXT" data-text-done=""
                            class="btn-13 bg-dark text-dark-emphasis recaptcha_mark mt-3"></button>
                </div>
            </form>
        </div>
    </div>
    <script>
        window.addEventListener('load', function (e) {
            var for_insert = document.getElementsByClassName('recaptcha_mark')[0];
            var el = document.createElement('script');
            el.setAttribute('src', 'https://www.google.com/recaptcha/api.js');
            var el2 = document.createElement('div');
            if (document.getElementsByTagName('body')[0].classList.contains('_touch')) {
                el2.setAttribute("data-size", "compact");
                el2.classList.add('g-recaptcha-small');
            }
            el2.setAttribute("data-sitekey", "{% get_GOOGLE_RECAPTCHA_SITE_KEY %}");
            el2.classList.add('g-recaptcha');
            for_insert.before(el);
            for_insert.before(el2);
        });
    </script>
{% endblock %}

{#<form class="u__form" method="post" action="{% url 'password_reset' %}">{% csrf_token %}#}
{##}
{#    <p class="u-text6 u-text-align-center" style="color: #F5F5F5; font-weight: 500">Password reset</p>#}
{#    <div class="u-help">#}
{#        {% if invalid %}#}
{#            <span class="invalid">{{ invalid }}</span>#}
{#        {% endif %}#}
{#        {% if captcha_invalid %}#}
{#            <span class="invalid">{{ captcha_invalid }}</span>#}
{#        {% endif %}#}
{#        <div class="u__fields" style="margin-bottom: 13px;">#}
{#            <input name="email" type="text" placeholder="Email" class="u__field u-text3"#}
{#                   style="text-align: center;padding: 0;">#}
{#        </div>#}
{#        <label style="display: none;" class="insert_captcha"></label>#}
{#    </div>#}
{#    <input class="u-submit" type="submit" value="Next">#}
{##}
{#</form>#}