{% extends 'Core/index.html' %}
{% load static %}
{% load Core_tags %}
{% load socialaccount %}
{% block title %}xlartas | SIGN UP{% endblock %}

{% block meta_keywords %}signup registration{% endblock %}
{% block meta_description %}Sign Up{% endblock %}
{% block meta_og_description %}Регистрация{% endblock %}
{% block meta_twitter_description %}Sign Up{% endblock %}

{% block content %}
    <div id="content" class="container d-none  flex-col-center flex-grow-1"
         data-bs-theme="dark" style="max-width: 400px;">
        <div class="row disable-tap-and-selection">
            <form class="px-3 py-2 text-center" method="post" action="{% url 'signup' %}">{% csrf_token %}
                <span class="text-dark-emphasis fs-1">SIGN UP</span>
                {% if invalid %}
                    <div><span class="text-danger">{{ invalid }}</span></div>
                {% endif %}
                <div class="mb-3 form__group fs-5">
                    <input type="text" class="form__field text-center fs-5"
                           placeholder="Name" minlength="6" name="username" id='username' value="{{ username }}"/>
                    <label for="username" class="form__label" style="width: 100%">Name</label>
                </div>
                <div class="mb-3 form__group fs-5">
                    <input type="email" class="form__field text-center fs-5"
                           placeholder="Email" name="email" id='email' required value="{{ email }}"/>
                    <label for="email" class="form__label" style="width: 100%">Email*</label>
                </div>
                <div class="mb-3 form__group">
                    <input type="password" class="form__field text-center fs-5"
                           placeholder="Password" minlength="6" name="password" id='password' required/>
                    <label for="password" class="form__label"
                           style="width: 100%">Password*</label>
                </div>
                <small class="form-text text-muted" style="opacity: 70%;">
                    By registering on the site you confirm that you have read
                    <a href="{% url 'privacy_policy' %}"
                       class="text-primary text-decoration-none">privacy policy</a> and
                    <a href="{% url 'terms_and_conditions' %}"
                       class="text-primary text-decoration-none">terms and conditions</a>
                </small>

                <div class="text-center pt-3 pb-1">
                    <button type="submit" id="button" data-text="SIGN UP" data-text-done=""
                            class="btn-13 bg-transparent text-dark-emphasis recaptcha_mark mt-3"></button>
                </div>

                <div id="vk_auth" class="mx-auto mt-2 rounded-4"></div>
                <script type="text/javascript">
                    VK.init({apiId: 51423204});
                    VK.Widgets.Auth("vk_auth", {"authUrl": "/accounts/vk/login/callback"});
                    document.getElementById('vk_auth').style.display = 'none';
                </script>
                <div class="text-center pt-3 pb-2">
                    <div class="flex-row-center">
                        <a href="{% provider_login_url "google" %}" class="px-1"><img
                                src="{% static 'Core/img/google.png' %}" alt=""
                                style="max-width: 40px;"></a>
                        <div class="px-1" id="TelegramBtn"><img
                                src="{% static 'Core/img/telegram.png' %}" alt=""
                                style="max-width: 40px;"></div>
                        <div class="px-1"
                             onclick="document.getElementById('vk_auth').style.display = 'block';">
                            <img src="{% static 'Core/img/vkontakte.png' %}" alt=""
                                 style="max-width: 40px;"></div>
                        <a href="{% provider_login_url "github" %}" class="px-1"><img
                                src="{% static 'Core/img/github-mark-white.png' %}" alt=""
                                style="max-width: 40px;"></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        let tg_btn = document.getElementById('TelegramBtn')
        let clone_tg = document.getElementsByClassName('telegram-auth')[0].cloneNode(true)
        tg_btn.appendChild(clone_tg)
    </script>
    <script>
        window.addEventListener('load', function (e) {
            var for_insert = document.getElementsByClassName('recaptcha_mark')[0];
            var el = document.createElement('script');
            el.setAttribute('src', 'https://www.google.com/recaptcha/api.js');
            var el2 = document.createElement('div');
            if (document.getElementsByTagName('body')[0].classList.contains('_touch')) {
                el2.setAttribute("data-size", "compact");
                el2.classList.add('g-recaptcha-small');
            }
            el2.setAttribute("data-sitekey", "{% get_GOOGLE_RECAPTCHA_SITE_KEY %}");
            el2.classList.add('g-recaptcha');
            for_insert.before(el);
            for_insert.before(el2);
        });
    </script>
{% endblock %}