{% extends 'Core/index.html' %}
{% load static %}
{% load Core_tags %}
{% load socialaccount %}
{% block title %}xlartas | SIGN IN{% endblock %}

{% block meta_keywords %}signin login{% endblock %}
{% block meta_description %}Sign In{% endblock %}
{% block meta_og_description %}Вход{% endblock %}
{% block meta_twitter_description %}Sign In{% endblock %}

{% block content %}
<div id="content" class="container d-none  fcc flex-grow-1"
     data-bs-theme="dark"
     style="max-width: 400px;">
    <div class="row disable-tap-and-selection ">
        <h1 class="text-dark-emphasis fs-1 text-center">SIGN IN</h1>
        <form class="px-3 py-1 text-center" method="post" action="{% url 'signin' %}">{% csrf_token %}

            {% include 'Core/includes/form.html' with form=form %}

            <div class="text-center pt-3 pb-1">
                <button type="submit" id="button" data-text="SIGN IN" data-text-done=""
                        class="btn-13 bg-transparent text-dark-emphasis"></button>
            </div>
            {# OAuth #}
{#            <div id="vk_auth" class="mx-auto mt-2 rounded-4"></div>#}
{#            <script type="text/javascript">#}
{#                VK.init({apiId: 51423204});#}
{#                VK.Widgets.Auth("vk_auth", {"authUrl": "/accounts/vk/login/callback"});#}
{#                document.getElementById('vk_auth').style.display = 'none';#}
{#            </script>#}
            <div class="text-center pt-3 pb-2">
                <div class="frc">
                    <a href="{% provider_login_url "google" %}" class="px-1"><img
                            src="{% static 'Core/img/google.png' %}" alt=""
                            style="max-width: 40px;"></a>
                    <div class="px-1" id="TelegramBtn"><img
                            src="{% static 'Core/img/telegram.png' %}" alt=""
                            style="max-width: 40px;"></div>
{#                    <div class="px-1"#}
{#                         onclick="document.getElementById('vk_auth').style.display = 'block';">#}
{#                        <img src="{% static 'Core/img/vkontakte.png' %}" alt=""#}
{#                             style="max-width: 40px;"></div>#}
{#                    <a href="{% provider_login_url "github" %}" class="px-1"><img#}
{#                            src="{% static 'Core/img/github-mark-white.png' %}" alt=""#}
{#                            style="max-width: 40px;"></a>#}
                </div>
            </div>
        </form>
        <a class="text-secondary fs-6 fw-6 text-center text-decoration-none fw-lighter" href="{% url 'signup' %}">
            New around here? <span class="text-primary">Sign up</span></a>
        <a class="text-secondary fs-6 fw-6 text-center text-decoration-none fw-lighter"
           href="{% url 'password_reset' %}">
            Forgot password?</a>
    </div>
</div>
<script>
    let tg_btn = document.getElementById('TelegramBtn')
    let clone_tg = document.getElementsByClassName('telegram-auth')[0].cloneNode(true)
    tg_btn.appendChild(clone_tg)
</script>
{% endblock %}