{% load  static %}
<img id="btnShowInfo" class="btn-show-trainers-info my-auto" width="46" height="46" alt=""
     src="{% static 'Core/img/info2.png' %}">
<div class="infoModalWrap d-none d-flex flex-column position-absolute top-0 left-0 w-100vw h-100vh"
     id="infoModalWrap">
    <div class="d-flex fs-7 rounded-3 flex-column mx-auto p-4 w-90 backdrop-blur-20 bg-black-15"
         style="max-width: 400px; height: calc(100vh - 100px); margin-top: 80px; z-index: 2; box-shadow: 0 0 10px #00000099">
        <div class="modal-header mb-4 frc gap-4">
            <h3 class="text-white fs-3 m-0 ps-3">Info</h3>
            <button class="btn-close my-auto"></button>
        </div>
        <div class="modal-body overflow-y-scroll no_scrollbar">
            <section>
                <h3 class="text-white fs-3 m-0 text-center">
                    О приложении
                </h3>
                <p>
                    Для музыканта важно чувствовать музыку, понимать каждую
                    ноту и её место в композиции.

                    Развитый слух поможет вам в создании музыки,
                    импровизации и совместной игре с другими музыкантами.
                    Этот тренажер создан на основе метода Алена Бенбассата
                    и поможет вам улучшить ваш слух.
                </p>
                <p>
                    Уделяйте тренировкам по 15 минут ежедневно,
                    и через несколько месяцев вы почувствуете прогресс!
                </p>
            </section>
            <section class="fcc">
                <h3 class="text-white fs-3 m-0 text-center">Основы теории</h3>
                <h4 class="text-white">Ноты</h4>
                <p>Есть всего 12 нот</p>
                <img class="w-90 mx-auto" src="{% static 'harmony/img/fullpiano12note.png' %}" alt="">
                <span class="text-secondary fs-7 mx-auto">
                    C/До D/Ре E/Ми F/Фа G/Соль A/Ля B/Си C/До
                </span>
                <p>
                    Интервал между двумя соседними нотами называется полутоном,
                    а два полутона образуют тон. Черные клавиши тоже учитываем.
                    Октава — это интервал из 12 нот,
                    начиная и заканчивая одной и той же нотой (например, от C до
                    следующей C).
                </p>
                <h4 class="text-white">Мажор / Минор</h4>
                <p>
                    Лад — это комбинация из определенных нот,
                    выбранных в зависимости от интервалов между ними.
                </p>
                <p>
                    Например, мажорный лад определяется шаблоном: <br>
                    тон - тон - полутон - тон - тон - тон - полутон (или 2 2 1 2 2 2 1), <br>
                    а минорный лад: 2 1 2 2 1 2 2.
                </p>
                <p>
                    Мажорный лад, основанный на ноте C(До):<br>
                    C Major: C D E F G A B<br>

                    Минорный лад, основанный на ноте A(Ля):<br>
                    A Minor: A B C D E F G
                </p>
                <h4 class="text-white">Разрешения</h4>
                <p>
                    Одинаковые ступени в разных ладах и тональностях звучат похоже
                    или на сложном языке выполняют одну и ту же функцию.<br>

                    Например, третья ступень в разных тональностях мажорного лада
                    может вызывать схожие эмоциональные ощущения при
                    прослушивании. Причина этого кроется в функциональной
                    роли, которую эта ступень играет в музыкальной гармонии
                    (по простому насколько высоко или низко нота лежит
                    относительно тоники - главной - 1 ступени тональности).<br>

                    Когда мы слышим мелодию или аккорд, в котором
                    присутствует 3 ступень текущей тональности, наш мозг
                    автоматически ассоциирует её с теплыми и позитивными эмоциями
                    (у всех разные ассоциации, это просто пример).

                    Таким образом, несмотря на то, что абсолютная высота (в герцах которая)
                    третьей ступени будет различаться в разных тональностях,
                    её эмоциональное и гармоническое воздействие на
                    слушателя остается схожим из-за её роли в определении
                    характера лада. Это является частью того,
                    что делает музыку универсальным языком,
                    понятным людям независимо от их культурного или
                    географического происхождения.
                </p>
                <p>
                    Послушайте примеры, где играет каданс из 4 аккордов, задающий
                    ваше понимание данной мажорной тональности,
                    а после играет одна из ступеней тональности(номер ступени подписан
                    у каждого примера). Дальше играется другая мажорная тональность
                    и ступень с тем же номером и так по кругу(всего 4 раза в примере).
                    Ноты разные, но после кадансов под разные тональности звучат схоже
                    по 'настроению'.
                </p>
                <div>
                    <span>VI <span class="text-secondary fs-7">6 ступень</span></span>
                    <audio controls class="w-100"
                           src="{% static 'harmony/mp3/examples/degreesEqual_1.mp3' %}"></audio>
                    </audio>
                    <span>I</span>
                    <audio controls class="w-100"
                           src="{% static 'harmony/mp3/examples/degreesEqual_2.mp3' %}"></audio>
                    <span>V</span>
                    <audio controls class="w-100 mb-4"
                           src="{% static 'harmony/mp3/examples/degreesEqual_3.mp3' %}"></audio>
                </div>
            </section>
            <section>
                <h3 class="text-white fs-3 m-0 text-center">Тренажеры</h3>
                <p>
                    В тренажере 10 вопросов, каждый начинается с каданса
                    (4 аккорда, которые устанавливают
                    звучание текущей тональности в вашей
                    голове, послушали-запомнили).
                </p>
                <p>
                    После каданса проигрывается
                    случайная ступень тональности. Ваша задача — угадать
                    её.
                </p>
                <p>
                    После правильного ответа, этот тон разрешается
                    в ближайшую тонику.
                </p>
                <p>
                    Несколько первых раз можете нажимать наугад, чтобы просто понять
                    как это работает. Потом в голове вы начнете
                    выстраивать разрешения сами и верно угадывать ноту.
                    В первых уровнях вы будете
                    практиковаться только в тональности C(C Major/До мажор).
                    После задания будут усложняться.
                    После отработки блока с минорами и мажорами
                    переходите в хроматизмы, где вам предстоит угадать ноты не входящие в тональность.
                </p>
            </section>
            <section>
                <h3 class="text-white fs-3 m-0 text-center">Как лучше?</h3>
                <p>
                    Рекомендуем проходить по два раза 2-4 тренажера в день,
                    постепенно переходя на более сложные тренажеры когда
                    предыдущие проходите стабильно на 90-100%.<br>
                    В таком темпе через несколько месяцев вы будете удивлены результатам.
                    Советуем попробовать петь вместе с разрешениями,
                    это поможет накапливать мышечную память для связок,
                    что как и развитый слух тоже улучшит попадания в ноты.
                </p>
            </section>
            <section>
                <h3 class="text-white fs-3 m-0 text-center">Остальное</h3>
                <p>
                    В настройках вы можете создать свой собственный пресет для тренажера,
                    выбрать звук для пианино,
                    настроить длительность проигрывания каданса и нот отдельно.
                    Поддержите проект:
                    USDT TRC20: <span class="text-danger">
                    TKq7tkCF2oGjotAGoQXr43LVrLoHJPYmFH</span><br>
                    <a href="{% url 'donate' %}">Донат на сайте</a>
                </p>
            </section>

        </div>
    </div>

</div>

<script>
    function initInfoModal() {
        const modal = document.getElementById('infoModalWrap');
        modal.addEventListener('click', () => {
            modal.classList.toggle('d-none');
        });

        const btnShowInfo = document.getElementById('btnShowInfo');
        btnShowInfo.addEventListener('click', () => {
            modal.classList.toggle('d-none');
        });
    }

    initInfoModal()
</script>