{% load static %}
{% load recaptcha_tags %}
<script src="{% static 'Core/js/modal.js' %}"></script>
<link rel="stylesheet" href="{% static 'Core/css/modal.css' %}">
<div class="pay-system-chosen bg-black-20 hover-scale-5 rounded-2" onclick="showModal('modalChoosePaymentSystem')">
    <input type="hidden" name="payment_system_name" id="payment_system_name-input" value="SBP">
    <div style="height: 60px;" class="btn-currency-select bg-black-10 fcc rounded-2">
        <img class="payment-system-img w-100 h-100 rounded-2 object-fit-contain"
             src="{% static 'APP_shop/img/payment_systems/SBP.png' %}" alt="">
    </div>
</div>
<div class="u-modal flex-column justify-content-center"
     id="modalChoosePaymentSystem">
    <div class="modal-content mx-auto py-3 rounded-3" style="width: 400px; max-width: 95%;">
        <form class="bg-transparent" method="post" action="{% url 'shop:buy' %}">{% csrf_token %}
            <div class="modal-header px-3 mb-2">
                <h1 class="fs-5 m-0 mx-auto text-white-80">Платёжная система</h1>
                <button type="button" class="btn-close me-3"
                        onclick="closeModal('modalChoosePaymentSystem')"></button>
            </div>
            <div class="modal-body frc p-3 flex-wrap gap-2 no_scrollbar">
                <div value="SBP" style="width: 30%; font-size: 0.5rem; letter-spacing: 0.06rem;" class="btn-currency-select bg-black-10 hover-scale-10 fcc rounded-2">
                    <img class="payment-system-img w-100 h-100 rounded-2 object-fit-contain"
                         src="{% static 'APP_shop/img/payment_systems/SBP.png' %}" alt="">
                    <span class="text-white-60 text-center">
                        Minimum: <span class="min-value">50</span></span>
                </div>
                <div value="MASTER_CARD_RUB" style="width: 30%; font-size: 0.5rem; letter-spacing: 0.06rem;" class="btn-currency-select bg-black-10 hover-scale-10 fcc rounded-2">
                    <img class="payment-system-img w-100 h-100 rounded-2 object-fit-contain"
                         src="{% static 'APP_shop/img/payment_systems/MASTER_CARD.png' %}" alt="">
                    <span class="text-white-60 text-center">
                        Minimum: <span class="min-value">50</span></span>
                </div>
                <div value="VISA_RUB" style="width: 30%; font-size: 0.5rem; letter-spacing: 0.06rem;" class="btn-currency-select bg-black-10 hover-scale-10 fcc rounded-2">
                    <img class="payment-system-img w-100 h-100 rounded-2 object-fit-contain"
                         src="{% static 'APP_shop/img/payment_systems/VISA_RUB.png' %}" alt="">
                    <span class="text-white-60 text-center">
                        Minimum: <span class="min-value">50</span></span>
                </div>
                <div value="BITCOIN_CASH" style="width: 30%; font-size: 0.5rem; letter-spacing: 0.06rem;" class="btn-currency-select bg-black-10 hover-scale-10 fcc rounded-2">
                    <img class="payment-system-img w-100 h-100 rounded-2 object-fit-contain"
                         src="{% static 'APP_shop/img/payment_systems/BCH.png' %}" alt="">
                    <span class="text-white-60 text-center">
                        Minimum: <span class="min-value">0.01</span></span>
                </div>
                <div value="BNB" style="width: 30%; font-size: 0.5rem; letter-spacing: 0.06rem;" class="btn-currency-select bg-black-10 hover-scale-10 fcc rounded-2">
                    <img class="payment-system-img w-100 h-100 rounded-2 object-fit-contain"
                         src="{% static 'APP_shop/img/payment_systems/BNB.png' %}" alt="">
                    <span class="text-white-60 text-center">
                        Minimum: <span class="min-value">0.02</span></span>
                </div>
                <div value="BITCOIN" style="width: 30%; font-size: 0.5rem; letter-spacing: 0.06rem;" class="btn-currency-select bg-black-10 hover-scale-10 fcc rounded-2">
                    <img class="payment-system-img w-100 h-100 rounded-2 object-fit-contain"
                         src="{% static 'APP_shop/img/payment_systems/BTC.png' %}" alt="">
                    <span class="text-white-60 text-center">
                        Minimum: <span class="min-value">0.0001</span></span>
                </div>
                <div value="DASH" style="width: 30%; font-size: 0.5rem; letter-spacing: 0.06rem;" class="btn-currency-select bg-black-10 hover-scale-10 fcc rounded-2">
                    <img class="payment-system-img w-100 h-100 rounded-2 object-fit-contain"
                         src="{% static 'APP_shop/img/payment_systems/DASH.png' %}" alt="">
                    <span class="text-white-60 text-center">
                        Minimum: <span class="min-value">0.05</span></span>
                </div>
                <div value="ETH" style="width: 30%; font-size: 0.5rem; letter-spacing: 0.06rem;" class="btn-currency-select bg-black-10 hover-scale-10 fcc rounded-2">
                    <img class="payment-system-img w-100 h-100 rounded-2 object-fit-contain"
                         src="{% static 'APP_shop/img/payment_systems/ETH.png' %}" alt="">
                    <span class="text-white-60 text-center">
                        Minimum: <span class="min-value">0.0001</span></span>
                </div>
                <div value="FK_RUB" style="width: 30%; font-size: 0.5rem; letter-spacing: 0.06rem;" class="btn-currency-select bg-black-10 hover-scale-10 fcc rounded-2">
                    <img class="payment-system-img w-100 h-100 rounded-2 object-fit-contain"
                         src="{% static 'APP_shop/img/payment_systems/FK_RUB.png' %}" alt="">
                    <span class="text-white-60 text-center">
                        Minimum: <span class="min-value">10</span></span>
                </div>
                <div value="FK_USD" style="width: 30%; font-size: 0.5rem; letter-spacing: 0.06rem;" class="btn-currency-select bg-black-10 hover-scale-10 fcc rounded-2">
                    <img class="payment-system-img w-100 h-100 rounded-2 object-fit-contain"
                         src="{% static 'APP_shop/img/payment_systems/FK_USD.png' %}" alt="">
                    <span class="text-white-60 text-center">
                        Minimum: <span class="min-value">1</span></span>
                </div>
                <div value="LTC" style="width: 30%; font-size: 0.5rem; letter-spacing: 0.06rem;" class="btn-currency-select bg-black-10 hover-scale-10 fcc rounded-2">
                    <img class="payment-system-img w-100 h-100 rounded-2 object-fit-contain"
                         src="{% static 'APP_shop/img/payment_systems/LTC.png' %}" alt="">
                    <span class="text-white-60 text-center">
                        Minimum: <span class="min-value">0.01</span></span>
                </div>
                <div value="QIWI" style="width: 30%; font-size: 0.5rem; letter-spacing: 0.06rem;" class="btn-currency-select bg-black-10 hover-scale-10 fcc rounded-2">
                    <img class="payment-system-img w-100 h-100 rounded-2 object-fit-contain"
                         src="{% static 'APP_shop/img/payment_systems/QIWI.png' %}" alt="">
                    <span class="text-white-60 text-center">
                        Minimum: <span class="min-value">300</span></span>
                </div>
                <div value="TRX" style="width: 30%; font-size: 0.5rem; letter-spacing: 0.06rem;" class="btn-currency-select bg-black-10 hover-scale-10 fcc rounded-2">
                    <img class="payment-system-img w-100 h-100 rounded-2 object-fit-contain"
                         src="{% static 'APP_shop/img/payment_systems/TRX.png' %}" alt="">
                    <span class="text-white-60 text-center">
                        Minimum: <span class="min-value">10</span></span>
                </div>
                <div value="USDT_ERC20" style="width: 30%; font-size: 0.5rem; letter-spacing: 0.06rem;" class="btn-currency-select bg-black-10 hover-scale-10 fcc rounded-2">
                    <img class="payment-system-img w-100 h-100 rounded-2 object-fit-contain"
                         src="{% static 'APP_shop/img/payment_systems/USDT_ERC20.png' %}" alt="">
                    <span class="text-white-60 text-center">
                        Minimum: <span class="min-value">10</span></span>
                </div>
                <div value="USDT_TRC20" style="width: 30%; font-size: 0.5rem; letter-spacing: 0.06rem;" class="btn-currency-select bg-black-10 hover-scale-10 fcc rounded-2">
                    <img class="payment-system-img w-100 h-100 rounded-2 object-fit-contain"
                         src="{% static 'APP_shop/img/payment_systems/USDT_TRC20.png' %}" alt="">
                    <span class="text-white-60 text-center">
                        Minimum: <span class="min-value">5</span></span>
                </div>
                <div value="VISA_MASTER_CARD_KZT" style="width: 30%; font-size: 0.5rem; letter-spacing: 0.06rem;" class="btn-currency-select bg-black-10 hover-scale-10 fcc rounded-2">
                    <img class="payment-system-img w-100 h-100 rounded-2 object-fit-contain"
                         src="{% static 'APP_shop/img/payment_systems/VISA_MASTER_CARD_KZT.png' %}" alt="">
                    <span class="text-white-60 text-center">
                        Minimum: <span class="min-value">100</span></span>
                </div>
                <div value="VISA_MASTER_CARD_UAH" style="width: 30%; font-size: 0.5rem; letter-spacing: 0.06rem;" class="btn-currency-select bg-black-10 hover-scale-10 fcc rounded-2">
                    <img class="payment-system-img w-100 h-100 rounded-2 object-fit-contain"
                         src="{% static 'APP_shop/img/payment_systems/VISA_MASTER_CARD_UAH.png' %}" alt="">
                    <span class="text-white-60 text-center">
                        Minimum: <span class="min-value">50</span></span>
                </div>
                <div value="WEBMONEY_WMZ" style="width: 30%; font-size: 0.5rem; letter-spacing: 0.06rem;" class="btn-currency-select bg-black-10 hover-scale-10 fcc rounded-2">
                    <img class="payment-system-img w-100 h-100 rounded-2 object-fit-contain"
                         src="{% static 'APP_shop/img/payment_systems/WEBMONEY_WMZ.png' %}" alt="">
                    <span class="text-white-60 text-center">
                        Minimum: <span class="min-value">1</span></span>
                </div>
                <div value="XMR" style="width: 30%; font-size: 0.5rem; letter-spacing: 0.06rem;" class="btn-currency-select bg-black-10 hover-scale-10 fcc rounded-2">
                    <img class="payment-system-img w-100 h-100 rounded-2 object-fit-contain"
                         src="{% static 'APP_shop/img/payment_systems/XMR.png' %}" alt="">
                    <span class="text-white-60 text-center">
                        Minimum: <span class="min-value">0.01</span></span>
                </div>
                <div value="XRP" style="width: 30%; font-size: 0.5rem; letter-spacing: 0.06rem;" class="btn-currency-select bg-black-10 hover-scale-10 fcc rounded-2">
                    <img class="payment-system-img w-100 h-100 rounded-2 object-fit-contain"
                         src="{% static 'APP_shop/img/payment_systems/XRP.png' %}" alt="">
                    <span class="text-white-60 text-center">
                        Minimum: <span class="min-value">2</span></span>
                </div>
                <div value="ZEC" style="width: 30%; font-size: 0.5rem; letter-spacing: 0.06rem;" class="btn-currency-select bg-black-10 hover-scale-10 fcc rounded-2">
                    <img class="payment-system-img w-100 h-100 rounded-2 object-fit-contain"
                         src="{% static 'APP_shop/img/payment_systems/ZEC.png' %}" alt="">
                    <span class="text-white-60 text-center">
                        Minimum: <span class="min-value">0.01</span></span>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    let inputAmount = document.querySelector('#{{ input_amount_id }}');
    let inputPaymentSystemName = document.querySelector('#payment_system_name-input');
    let paySystemChosen = document.querySelector('.pay-system-chosen');
    let btnsCurrencySelect = document.querySelectorAll('.btn-currency-select');

    btnsCurrencySelect.forEach((btn) => {
        btn.addEventListener('click', () => {
            inputAmount.min = parseFloat(btn.querySelector('.min-value').innerHTML);
            paySystemChosen.querySelector('img').src = btn.querySelector('img').src;
            inputPaymentSystemName.value = btn.getAttribute('value');
            closeModal('modalChoosePaymentSystem');
        });
    });
</script>