{% load recaptcha_tags %}
<div class="u-modal flex-column justify-content-center"
     id="modal{{ product.name }}{{ product.id }}">
    <div class="modal-content mx-auto p-3 rounded-3">
        <form class="bg-transparent" method="post" action="{% url 'shop:buy_product_program' %}">{% csrf_token %}
            <div class="modal-header">
                <h2 class="fs-2 m-0 mx-auto text-white-90">{{ product.long_name }}</h2>
                <button type="button" class="btn-close"
                        onclick="closeModal('modal{{ product.name }}{{ product.id }}')"></button>
            </div>
            <div class="modal-body d-flex flex-column py-3 no_scrollbar">
                <input type="hidden" name="product_name" value="{{ product.name }}">
                <input type="hidden" name="license_type" id="input{{ product.name }}{{ product.id }}" value="week">
                <div class="fcc
                text-dark-emphasis gap-2">
                    <div class="btn-radio btn-radio-1-active btn-radio-1 px-3 py-2 rounded-3"
                         onclick="
                                 set_input_value_by_id('input{{ product.name }}{{ product.id }}', 'week');
                                 set_choosed_radio(this, 'btn-radio-1-active');">
                        <p class="m-0">Неделя</p>
                        <p class="m-0 btn-radio-1-price">{{ product.price_week }} ₽</p>
                    </div>
                    <div class="btn-radio btn-radio-1 px-3 py-2 rounded-3"
                         onclick="
                                 set_input_value_by_id('input{{ product.name }}{{ product.id }}', 'month');
                                 set_choosed_radio(this, 'btn-radio-1-active');">
                        <p class="m-0">Месяц</p>
                        <p class="m-0 btn-radio-1-price">{{ product.price_month }} ₽</p>
                    </div>
                    <div class="btn-radio btn-radio-1 px-3 py-2 rounded-3"
                         onclick="
                                 set_input_value_by_id('input{{ product.name }}{{ product.id }}', 'half_year');
                                 set_choosed_radio(this, 'btn-radio-1-active');">
                        <p class="m-0">Пол года</p>
                        <p class="m-0 btn-radio-1-price">{{ product.price_half_year }} ₽</p>
                    </div>
                    <div class="btn-radio btn-radio-1 px-3 py-2 rounded-3"
                         onclick="
                                 set_input_value_by_id('input{{ product.name }}{{ product.id }}', 'year');
                                 set_choosed_radio(this, 'btn-radio-1-active');">
                        <p class="m-0">Год</p>
                        <p class="m-0 btn-radio-1-price">{{ product.price_year }} ₽</p>
                    </div>
                    <div class="btn-radio btn-radio-1 px-3 py-2 rounded-3"
                         onclick="
                                 set_input_value_by_id('input{{ product.name }}{{ product.id }}', 'forever');
                                 set_choosed_radio(this, 'btn-radio-1-active');">
                        <p class="m-0">Навсегда</p>
                        <p class="m-0 btn-radio-1-price">{{ product.price_forever }} ₽</p>
                    </div>
                    <input name="promo" class="input-1 px-3 py-2 rounded-3 text-center text-dark-emphasis" placeholder="PROMO" value="">
                </div>
            </div>
            <div class="modal-footer frc gap-3 mt-2"
                 id="btn-submit-{{ product.name }}{{ product.id }}">
                <button type="submit" class="btn-1 fw-bold">Купить</button>
            </div>
        </form>
    </div>
</div>