{% extends 'Core/index.html' %}
{% load static %}
{% load Core_tags %}
{% load harmony_tags %}
{% load socialaccount %}
{% block title %}xlartas | Harmony Trainer{% endblock %}

{% block meta_keywords %}trainer ear functional ears music chord chords тренажер тренажёр слуха слух музыкальный музыка
    аккорды аккорд{% endblock %}
{% block meta_description %}Harmony Trainer{% endblock %}
{% block meta_og_description %}Слуховой тренажёр{% endblock %}
{% block meta_twitter_description %}Harmony Trainer{% endblock %}

{% block link_content_css %}
    <link rel="stylesheet" href="{% static 'APP_Harmony/css/trainer.css' %}">
    <link rel="stylesheet" href="{% static 'APP_Harmony/css/harmony.css' %}">
    <link rel="stylesheet" href="{% static 'APP_Harmony/css/piano.css' %}">
    <link rel="stylesheet" href="{% static 'Core/css/accordions.css' %}">
    <link rel="stylesheet" href="{% static 'Core/css/progress_bars.css' %}">
{% endblock %}
{% block scripts %}
    <script src="{% static 'Core/js/site-packages/chart.js' %}"></script>
    <script type="module" src="{% static 'APP_Harmony/js/trainer/trainer_main.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="content" class="container d-none fcc justify-content-start flex-grow-1 disable-tap-and-selection"
         data-bs-theme="dark" style="max-width: 900px; height: calc(100vh - 80px);">
        <div class="frc gap-4">
            <h1 class="text-dark-emphasis fs-1 text-center my-4" style="line-height: 20px;">
                <span class="m-0">TRAINER</span> <br>
                <span class="text-white text-opacity-25"
                      style="letter-spacing: 0.20em; padding-left: 0.2em; font-size: 0.58em">
                YOUR EARS</span>
            </h1>
            <div class="frc gap-2">
                <img class="btn-show-harmony-circle my-auto" width="50" height="50" alt=""
                     src="{% static 'APP_Harmony/img/music_circle.png' %}">
                <img class="btn-show-trainer-settings my-auto" width="40" height="40" alt=""
                     src="{% static 'APP_Harmony/img/trainer-setting.png' %}"
                     data-bs-toggle="modal" data-bs-target="#settingTrainerModal">
                {% include 'APP_Harmony/includes/infoModalWithBtn.html' %}
            </div>
        </div>
        <a href="?lang=en">English</a> | <a href="?lang=ru">Русский</a>
        <div style="width: 90%; height: 1px; background: #ffffff66; max-width: 600px;"
             class="mx-auto rounded-5 mt-0"></div>


        <div class="trainer_main overflow-y-auto pt-0 pb-5 flex-grow-1 no_scrollbar" style="">
            <div id="trainer-presets-container" class="accordion" id="accordionPanelsStayOpenExample">

            </div>


            <div id="trainer-play-field" class="d-none">

            </div>
        </div>


        <div class="modal fade" id="addPresetModal" tabindex="-1" aria-labelledby="addPresetModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered mx-auto" style="width: 90%; max-width: 500px;">
                <div class="modal-content bg-transparent backdrop-blur-20">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5 text-white-90 white-space-no-wrap"
                            id="addPresetModalLabel">Add Preset</h1>
                    </div>
                    <div class="modal-body fcc gap-2">
                        <form action="{% url 'harmony:add_trainer_preset' %}" method="post">
                            {% csrf_token %}
                            {% include 'Core/includes/form.html' with form=form %}
                            <div class="frc">
                                <button class="btn-3 fs-4 fw-bold">Сохранить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="settingTrainerModal" tabindex="-1" aria-labelledby="infoModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered mx-auto" style="width: 90%; max-width: 500px;">
                <div class="modal-content bg-black-25 backdrop-blur-20">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5 text-white-90 white-space-no-wrap"
                            id="infoModalLabel">Settings</h1>
                    </div>
                    <div class="modal-body fcc gap-2">
                        <div class="fcc">
                            <label for="cadenceDuration" class="text-white-80 fs-5">
                                Duration Cadence
                                (<span class="text-white-60" id="cadenceDurationValue"></span>)
                            </label>
                            <input class="slider" type="range" id="cadenceDuration" min="200" max="700" step="1"
                                   value="350">
                        </div>
                        <div class="fcc">
                            <label for="notesDuration" class="text-white-80 fs-5">
                                Duration Between Notes
                                (<span class="text-white-60" id="notesDurationValue"></span>)
                            </label>
                            <input class="slider" type="range" id="notesDuration" min="200" max="700" step="1"
                                   value="350">
                        </div>
                        <div class="frc">
                            {% get_trainer_sounds as trainer_sounds %}
                            {% include 'Core/includes/select_tag.html' with id='trainer_sounds' style='max-width: 180px; min-width: 170px;' classes='frc mx-auto' select_input_name='trainer_sound' elements_dict=trainer_sounds default_value='BalladPiano-m' %}
                            <button class="btn-3 rounded-3" data-bs-toggle="modal" data-bs-target="#addPresetModal">+
                                preset
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="harmony-circle w-100">
            <div>
                <img class="w-100" src="{% static 'APP_Harmony/img/music_circle.png' %}" alt="">
            </div>
        </div>

    </div>
{% endblock %}