{% extends 'Core/index.html' %}
{% load static %}
{% load Core_tags %}
{% load socialaccount %}
{% block title %}{{ user.get_username }} | Orders{% endblock %}

{% block meta_keywords %}чеки оплата bills payments bill payment pay balance баланс{% endblock %}
{% block meta_description %}User Orders{% endblock %}
{% block meta_og_description %}Чеки и оплата{% endblock %}
{% block meta_twitter_description %}User Payments{% endblock %}

{% block scripts %}
    <script src="{% static 'Core/js/inputs.js' %}"></script>
{% endblock %}
{% block content %}
    <div id="content" class="d-none mx-auto flex-grow-1 d-flex flex-column
    justify-content-center" data-bs-theme="dark" style="max-width: 500px;">
        <h1 class="text-white-90 fs-1 text-center">Payments</h1>
        <h2 class="text-white-80 fs-4 text-center">Пополнение</h2>
        <form action="{% url 'shop:balance_increase' %}" method="post"
              class="form__group mb-3">
            {% csrf_token %}
            <input type="number" name="amount"
                   placeholder="Amount" id="amount" required min="50">
            <label for="amount">Amount</label>
            <div class="frc my-3">
                <button type="submit" class="btn-3">Pay</button>
            </div>

        </form>
        <h2 class="text-white-80 fs-4 text-center">История</h2>
        <div class="d-flex bg-transparent flex-column justify-content-between gap-2 pb-3 no_scrollbar">
            {% if bills.count < 1 %}
                <div class="d-flex flex-column bg-transparent flex-md-row bg-opacity-10 rounded-4
                    fs-5 px-3 ps-3 py-4 py-sm-2 bg-black gap-1 gap-sm-3">
                    <div class="col-6 mx-auto fcc">
                        <span class="text-dark-emphasis text-center">У вас пока нет чеков. Для покупки перейдите в
                            <a class="text-info text-decoration-none"
                               href="{% url 'shop:catalog' %}">SHOP</a></span></div>
                </div>
            {% else %}
                <table class="table text-center">
                    <thead>
                    <tr>
                        <th scope="col" class="bg-transparent">#</th>
                        <th scope="col" class="bg-transparent">Product</th>
                        <th scope="col" class="bg-transparent">Amount</th>
                        <th scope="col" class="bg-transparent">Status</th>
                        <th scope="col" class="bg-transparent">Pay link</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for bill in bills.reverse %}
                        <tr class="fw-bold">
                            <th class="bg-transparent" scope="row">{{ forloop.counter }}</th>
                            <td class="bg-transparent">
                                {% if bill.type == bill.OrderType.BALANCE %}
                                    Increase
                                {% else %}
                                    {{ bill.product }} {{ bill.license_type }}
                                {% endif %}
                            </td>
                            <td class="bg-transparent
{% if bill.type == bill.OrderType.BALANCE %}text-success{% else %}text-danger{% endif %}">
                                {% if bill.type == bill.OrderType.BALANCE %}+{{ bill.amountRub }}
                                {% else %}-{{ bill.amountRub }}{% endif %}
                            </td>
                            <td class="bg-transparent">{{ bill.status }}</td>
                            <td class="bg-transparent"><a href="{{ bill.pay_link }}">pay</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}