{% extends 'Core/index.html' %}
{% load static %}
{% load Core_tags %}
{% load socialaccount %}
{% block title %}{{ user.get_username }} | Orders{% endblock %}

{% block meta_keywords %}чеки оплата bills payments bill payment pay balance баланс{% endblock %}
{% block meta_description %}User Orders{% endblock %}
{% block meta_og_description %}Чеки и оплата{% endblock %}
{% block meta_twitter_description %}User Payments{% endblock %}

{% block content %}
    <div id="content" class="d-none mx-auto flex-grow-1 d-flex flex-column
    justify-content-center" data-bs-theme="dark" style="max-width: 800px;">
        <h1 class="text-white-90 fs-1 text-center my-3">Платежи</h1>
        <div class="fcc flex-md-row gap-0 gap-md-4">
            <form action="{% url 'shop:balance_increase' %}" method="post"
                  class="mb-3 bg-black-15 h-min-content px-3 py-2 rounded-4">
                {% csrf_token %}
                {% if invalid %}
                    <p class="fw-bold text-danger text-center mx-auto" style="max-width: 400px;">
                        {{ invalid }}</p>
                {% endif %}
                <div class="form__group mb-3">
                    <input type="number" name="amount"
                           placeholder="Сумма для пополнения" id="amount" required min="1">
                    <label for="amount">Сумма для пополнения</label>
                </div>
                <div class="frc my-3 gap-3" id="btn-recaptcha-marked">
                    <button type="submit" class="btn-3">Оплатить</button>
                    <a href="{% url 'shop:check_payment' %}"
                       class="btn-3 text-decoration-none">
                        Проверить оплату</a>
                </div>
                {% include 'Core/includes/recaptcha_script.html' with mark_el_id='btn-recaptcha-marked' %}
            </form>
            <div class="bg-black-15 h-min-content px-3 pb-0 pt-3 rounded-4">
                <h2 class="text-white-80 fs-4 text-center">История</h2>
                <div class="d-flex bg-transparent flex-column justify-content-between gap-2 pb-3 no_scrollbar">
                    {% if bills.count < 1 %}
                        <div class="d-flex flex-column bg-transparent flex-md-row bg-opacity-10 rounded-4
                    fs-5 px-3 ps-3 py-4 py-sm-2 bg-black gap-1 gap-sm-3">
                            <div class="col-6 mx-auto fcc">
                        <span class="text-dark-emphasis text-center">У вас пока нет чеков. Для покупки перейдите в
                            <a class="text-info text-decoration-none"
                               href="{% url 'shop:catalog' %}">SHOP</a></span></div>
                        </div>
                    {% else %}
                        <table class="table text-center">
                            <thead>
                            <tr>
                                <th scope="col" class="bg-transparent">Product</th>
                                <th scope="col" class="bg-transparent">Amount</th>
                                <th scope="col" class="bg-transparent">Status</th>
                                <th scope="col" class="bg-transparent">Pay link</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for order in orders.reverse %}
                                <tr class="fw-bold">
                                    <td class="bg-transparent">
                                        {% if order.type == order.OrderType.BALANCE %}
                                            Balance
                                        {% else %}
                                            {{ order.product }} {{ order.license_type }}
                                        {% endif %}
                                    </td>
                                    <td class="bg-transparent
{% if order.type == order.OrderType.BALANCE %}
    {% if order.status == order.OrderStatus.DONE or order.status == order.OrderStatus.PAID %}
        text-success
    {% endif %}
{% elif order.type == order.OrderType.PRODUCT %}
    {% if order.status == order.OrderStatus.DONE or order.status == order.OrderStatus.PAID %}
        text-danger
    {% endif %}
{% endif %}">
                                        {% if order.type == order.OrderType.BALANCE %}+{{ order.amountRub }}
                                        {% else %}-{{ order.amountRub }}{% endif %}
                                    </td>
                                    <td class="bg-transparent
    {% if order.status == order.OrderStatus.DONE or order.status == order.OrderStatus.PAID %}
        text-success
    {% endif %}
                                    ">{{ order.status }}</td>
                                    <td class="bg-transparent">
                                        {% if order.type == order.OrderType.BALANCE %}
                                            <a href="{{ order.pay_link }}">pay</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}