{% extends 'Core/index.html' %}
{% load static %}
{% load recaptcha_tags %}

{% block title %}xlartas | Donate{% endblock %}

{% block meta_keywords %}Donate{% endblock %}
{% block meta_description %}Donate{% endblock %}
{% block meta_og_description %}Донат{% endblock %}
{% block meta_twitter_description %}Donate{% endblock %}

{% block content %}
        <div id="content" class="fcc mx-auto d-none h-100 flex-grow-1">
            <h1 class="text-white fw-bold fs-1 text-center">Donate</h1>
            <p class="text-white-80 fs-5 text-center">Спасибо за поддержку проекта</p>
            <div class="frc">
                <iframe src="https://widgets.freekassa.ru?type=payment-window&lang=ru&theme=dark&default_amount=500&api_key=34f3b93545e8d3c51107d9667deb2b10&shopID=36606"
                        width="300" height="490" frameborder="0"></iframe>
            </div>
        </div>

{% endblock %}