{% extends 'Core/index.html' %}
{% load static %}
{% load Core_tags %}

{% block title %}xlartas{% endblock %}

{% block meta_keywords %}главная Main{% endblock %}
{% block meta_description %}главная{% endblock %}
{% block meta_og_description %}Main page{% endblock %}
{% block meta_twitter_description %}Main page{% endblock %}

{% block link_content_css %}
    <link rel="stylesheet" href="{% static 'Core/css/main.css' %}">
{% endblock %}

{% block content %}
    <div id="content" class="d-none container no_scrollbar overflow-y-scroll disable-tap-and-selection"
          data-bs-theme="dark">

{# about #}
        <div class="mx-auto container-sm p-0 pe-md-4" id="about-block">
            <div class="row flex-row-center">
                <div class="col-lg-3 col-md-4 d-flex
                justify-content-center justify-content-md-end">
                    <img src="{% static 'Core/img/art-square.jpg' %}"
                         id="main-art" alt="">
                </div>
                <div class="col-lg-5 col-md-8 m-0 mt-sm-4" id="about-block-text">
                    <p class="text-center text-md-start text-white pt-1 mb-1" style="line-height: 1.4rem;">
                    <span class="fs-1 fw-bold" style="letter-spacing: 0.3rem;">
                        xlartas<br>
                    </span>
                        <span class="fs-5 text-white text-opacity-75 text-center text-md-start">
                        Разработка web-приложений на заказ.
                    </span>
                    </p>
                    <p class="fs-5 text-dark-emphasis text-center text-md-start"
                       style="filter: invert(1); line-height: 2.5rem;">
                        <span class="me-1 py-1 text-bg-dark bg-opacity-75 about-block-text-style-1">
                        &nbsp;Python&nbsp;</span>
                        <span class="me-1 py-1 text-bg-dark bg-opacity-75 about-block-text-style-1">
                        &nbsp;Django&nbsp;</span>
                        <span class="me-1 py-1 text-bg-dark bg-opacity-75 about-block-text-style-1">
                        &nbsp;DRF&nbsp;</span>
                        <span class="me-1 py-1 text-bg-dark bg-opacity-75 about-block-text-style-1">
                        &nbsp;Celery&nbsp;</span>
                        <span class="me-1 py-1 text-bg-dark bg-opacity-75 about-block-text-style-1">
                        &nbsp;Django&nbsp;Channels&nbsp;</span>
                        <span class="me-1 py-1 text-bg-dark bg-opacity-75 about-block-text-style-1">
                        &nbsp;Docker&nbsp;</span>
                        <span class="me-1 py-1 text-bg-dark bg-opacity-75 about-block-text-style-1">
                        &nbsp;Redis&nbsp;</span>
                        <span class="me-1 py-1 text-bg-dark bg-opacity-75 about-block-text-style-1">
                        &nbsp;Minio&nbsp;</span>
                        <span class="me-1 py-1 text-bg-dark bg-opacity-75 about-block-text-style-1">
                        &nbsp;Html&nbsp;</span>
                        <span class="me-1 py-1 text-bg-dark bg-opacity-75 about-block-text-style-1">
                        &nbsp;Sass&nbsp;</span>
                        <span class="me-1 py-1 text-bg-dark bg-opacity-75 about-block-text-style-1">
                        &nbsp;JS&nbsp;</span>
                        <span class="me-1 py-1 text-bg-dark bg-opacity-75 about-block-text-style-1">
                        &nbsp;MySQL&nbsp;</span>
                        <span class="me-1 py-1 text-bg-dark bg-opacity-75 about-block-text-style-1">
                        &nbsp;PostgreSQL&nbsp;</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="d-none">
        <a href="https://freekassa.ru" target="_blank" rel="noopener noreferrer">
  <img src="https://cdn.freekassa.ru/banners/big-dark-1.png" title="Прием платежей на сайте">
</a>
    </div>
{% endblock %}