{% extends 'Core/index.html' %}
{% load static %}
{% load Core_tags %}
{% load socialaccount %}
{% block title %}{{ user_.username }} | Profile{% endblock %}

{% block meta_keywords %}Profile профиль личный кабинет лк{% endblock %}
{% block meta_description %}Profile{% endblock %}
{% block meta_og_description %}Профиль{% endblock %}
{% block meta_twitter_description %}Profile{% endblock %}

{% block link_content_css %}
    <link rel="stylesheet" href="{% static 'Core/css/profile.css' %}">
{% endblock %}

{% block content %}
    <div id="content" class="container d-none -fluid d-flex flex-column
    justify-content-center flex-grow-1"
         data-bs-theme="dark" style="max-width: 370px;">
        {% if invalid %}
            <div><span class="text-danger">{{ invalid }}</span></div>
        {% endif %}
        {% if form.non_field_errors %}
            <ul class="errorlist text-center">
                {% for error in form.non_field_errors %}
                    <li><span class="fw-bold text-danger">{{ error }}</span></li>
                {% endfor %}
            </ul>
        {% endif %}
        {% for field in form %}
            {% if field.errors %}
                <ul class="errorlist text-center">
                    {% for error in field.errors %}
                        <li><span class="fw-bold text-danger">{{ error }}</span></li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}
        <div class="profile bg-black bg-opacity-10 py-3 pb-4 px-3 rounded-4">
            <div class="username-edit frc text-center mb-2 px-4 gap-3">
                <form class="frc w-100 gap-3 ps-5" method="post">
                    {% csrf_token %}
                    {{ form.username }}
                    <button type="submit" id="btnSubmitEditUsername" class="text-white-90 fs-1 d-none fcc">
                        <i class="fa-regular fa-circle-check"></i>
                    </button>
                </form>
                <button class="text-white-90 fs-1 fcc" id="btnEditUsername">
                    <i class="fa-solid fa-pen-to-square"></i>
                </button>
            </div>
            {% if user_.email != "" %}
                <div class="row text-dark-emphasis text-center">
                    <div class="col-4 fcc">
                        <span>Email</span></div>
                    <div class="col-8 fcc overflow-x-scroll no_scrollbar">
                        <span class="no_scrollbar">{{ user_.email }}</span></div>
                </div>
            {% endif %}
            <div class="w-100 bg-opacity-25 bg-white mx-auto" style="height: 1px;"></div>
            <div class="row text-dark-emphasis text-center">
                <div class="col-4 fcc"><span>Secret</span></div>
                <div class="col-8 d-flex gap-2 justify-content-center">
                    <p class="no_scrollbar fs-3 fcc">
                        <span style="max-height: 10px;">*************</span></p>
                    <div id="btn-copy-secret" class=" fcc">
                        <i class="fa-solid fa-copy disable-tap-and-selection"></i></div>
                </div>
            </div>
            {% for product_name in least_days.items %}
                <div class="w-100 bg-opacity-25 bg-white mx-auto" style="height: 1px;"></div>
                <div class="row text-dark-emphasis text-center">
                    <div class="col-4 fcc"><span>{{ product_name.0 }}</span></div>
                    <div class="col-8 fcc overflow-x-scroll no_scrollbar">
                <span>
                    {% if product_name.1 > 0 %}
                        {{ product_name.1 }} hour
                    {% elif product_name.1 == 'FOREVER' %}
                        {{ product_name.1 }}
                    {% else %}
                        {{ product_name.1 }}
                    {% endif %}
                </span></div>
                </div>
            {% endfor %}
            <div class="w-100 bg-opacity-25 bg-white mx-auto" style="height: 1px;"></div>
            <div class="row text-dark-emphasis text-center">
                <div class="col-4 fcc">
                    <span>Ref. link</span></div>
                <div class="col-8 fcc">
                    <div class="overflow-x-scroll frc gap-2 no_scrollbar">
                        <span class="disable-tap-and-selection no_scrollbar fs-6">
                             xlartas.ru/i'm invited...</span>
                        <div id="btn-copy-ref" class="fcc">
                            <i class="fa-solid fa-copy disable-tap-and-selection"></i></div>
                    </div>
                </div>
            </div>
            {% if inviter_ %}
                <div class="w-100 bg-opacity-25 bg-white mx-auto" style="height: 1px;"></div>
                <div class="row text-dark-emphasis text-center">
                    <div class="col-4 fcc"><span>Inviter</span></div>
                    <div class="col-8 fcc overflow-x-scroll no_scrollbar">
                        <span>{{ inviter_.username }}</span></div>
                </div>
            {% endif %}

            <div class="w-100 bg-opacity-25 bg-white mx-auto" style="height: 1px;"></div>
            <div class="row w-100 fcc text-center m-0">
                <a href="{% url 'referral:info' %}"
                   class="text-secondary text-decoration-none mx-auto fw-bold
mt-3 mt-sm-0">
                    Как работает реферальная система?</a>
            </div>

            <div class="text-center fcc">
                <div class="col-12 d-flex flex-column flex-sm-row mx-auto
                justify-content-center gap-3 mt-3 mt-sm-0">
                    <a class="btn-3 fw-bold text-decoration-none mx-auto"
                       style="max-width: 160px"
                       href="{% url 'shop:bills' %}">Чеки и оплата</a>
                    <a class="btn-3 fw-bold text-decoration-none mx-auto"
                       style="max-width: 160px"
                       href="{% url 'referral:list' %}">Мои рефералы</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        const usernameInput = document.getElementById('id_username');
        const btnEditUsername = document.getElementById('btnEditUsername');
        const btnSubmitEditUsername = document.getElementById('btnSubmitEditUsername');
        btnEditUsername.addEventListener('click', () => {
            usernameInput.focus();
        })
        usernameInput.addEventListener('focus', () => {
            btnEditUsername.classList.add('d-none');
            btnSubmitEditUsername.classList.remove('d-none');
        })
        usernameInput.addEventListener('blur', () => {
            setTimeout(() => {
                btnEditUsername.classList.remove('d-none');
                btnSubmitEditUsername.classList.add('d-none');
            }, 10)
        })

        function ResetCopyBtnStyle() {
            btn_copy_ref.style.transform = 'none';
            btn_copy_secret.style.transform = 'none';
        }

        let btn_copy_ref = document.getElementById('btn-copy-ref');
        btn_copy_ref.addEventListener('click', function (e) {
            navigator.clipboard.writeText(
                '{{ domain }}{% url 'referral:set_my_inviter' referral_code=user_.referral_code %}'
            );
            btn_copy_ref.style.transition = 'all 100ms ease';
            btn_copy_ref.style.transform = 'scale(1.2)';
            setTimeout(ResetCopyBtnStyle, 200);
        })
        let btn_copy_secret = document.getElementById('btn-copy-secret');
        btn_copy_secret.addEventListener('click', function (e) {
            navigator.clipboard.writeText('{{ user_.secret_key }}');
            btn_copy_secret.style.transition = 'all 100ms ease';
            btn_copy_secret.style.transform = 'scale(1.2)';
            setTimeout(ResetCopyBtnStyle, 200);
        })
    </script>
{% endblock %}