{% load static %}
{% load Core_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey Access</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body bgcolor="#161415"
      style="margin: 0; padding: 0; width: 600px; max-width: 600px; background-color: #161415; font-family: Arial, sans-serif;">
{#<div>#}
{#    <img src="{% if is_secure %}https{% else %}http{% endif %}://{{ host }}{% static 'Core/img/golden_blocks_with_logo.jpg' %}" alt="background image" width="100%"/>#}
{#</div>#}
<table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#161415">
    <tr>
        <td height="20px"></td>
    </tr>
    <tr>
        <td align="center" style="">
            <p style="height: 1px; width: 70%!important; background-color: #777777;"></p>
        </td>
    </tr>
    <tr bgcolor="#161415">
        <td align="center" style="font-size: 16px; line-height: 1.5; padding: 20px;" bgcolor="#161415">
            <h3 style="font-size: 24px; margin: 0;text-decoration: none; font-weight: 600;  color: #fd3349;">{{ subject }}</h3>
            <p style="color: #aaaaaa; margin-top: 10px;">{{ text }}</p>
            <a style="background-color: #f03756; border-radius: 5px; color: #ffffff; display: inline-block; font-size: 18px; font-weight: 600; letter-spacing: 0.1em; padding: 10px 18px 10px 20px; text-decoration: none;">
                {{ link }}</a>
        </td>
    </tr>
    <tr>
        <td align="center" style="">
            <p style="height: 1px; width: 70%!important; background-color: #777777;"></p>
        </td>
    </tr>
    <tr>
        <td align="center" style="font-size: 16px; line-height: 1.5; margin-top: 15px; user-select: all;">
            <table>
                <tr>
                    <td>
                        <a href="https://xlartas.ru/"
                           style="font-size: 16px; color: #777777; margin: 0 10px; text-decoration: none;">xlartas.ru</a>
                    </td>
                    <td>
                        <a href="https://xlartas.ru/about/"
                           style="font-size: 16px; color: #777777; margin: 0 10px; text-decoration: none;">About Us</a>
                    </td>
                    <td>
                        <a href="https://xlartas.ru/software/"
                           style="font-size: 16px; color: #777777; margin: 0 10px; text-decoration: none;">Software</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="20px"></td>
    </tr>
</table>
</body>
</html>