{% extends 'Core/index.html' %}
{% load static %}
{% load Core_tags %}
{% load APP_filehost_tags %}
{% load Core_tags %}

{% block title %}xlartas | host{% endblock %}

{% block meta_keywords %}fast file host hosting быстрый файловый хостинг хост для картинок загрузить
    картинки{% endblock %}
{% block meta_og_description %}Быстрый файловый хостинг{% endblock %}
{% block meta_description %}File host{% endblock %}
{% block meta_twitter_description %}File host{% endblock %}

{% block link_content_css %}
    <link rel="stylesheet" href="{% static 'Core/css/drag_and_drop.css' %}">
{% endblock %}
{% block scripts %}
    <script src="{% static 'APP_filehost/js/create.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="content" class="container d-none fcc
     no_scrollbar mb-0 flex-grow-1"
         style="max-width: 600px!important;">

        <div class="frc mt-4 gap-3 mb-3">
            <h1 class="text-center text-white disable-tap-and-selection fs-1 m-0">
                File Host
            </h1>
            {% if user.is_authenticated %}
                <div class="fcc">
                    <a href="{% url 'host:list' %}" class="btn-3 fs-5 text-decoration-none">Мои загрузки</a>
                </div>
            {% endif %}
        </div>
        {% if invalid %}
            <span id="invalid" class="fw-8 fs-5 text-danger mx-auto mb-1">{{ invalid }}</span>
        {% endif %}
        <span id="invalid-size"
              class="d-none text-primary text-center fw-7">Общий размер загрузки не должен превышать {% max_upload_size_anon %} MB, для анонимных пользователей и
        {% max_upload_size_authed %} MB для авторизированных.</span>
        <button type="button"
                class="fs-5 mx-auto badge rounded-pill text-white-70 bg-black-25 text-white-50 popover-dismiss"
                data-bs-container="body" data-bs-toggle="popover"
                data-bs-placement="bottom" data-bs-trigger="focus" style="width: min-content" data-bs-content="
                Здесь ты можешь загрузить свои файлы и поделиться ими. Учитывай, что хост временный и через 30 дней файлы будут удалены.">
            использование
        </button>

        <form action="{% url 'host:create' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form__group mb-3">
                <input type="text" class="form__field text-center fs-5" maxlength="20"
                       placeholder="Upload Name" name="name" id='name' required/>
                <label for="name" class="form__label" style="width: 100%">Name</label>
            </div>
            <p class="text-white-65 fs-6 fw-5 mb-2 mt-2 text-center">Перетащи файлы либо кликни чтобы выбрать</p>
            <div class="frc gap-3 mb-1 disable-tap-and-selection">
                <div id="drag_drop_file" style="min-width: 60%"
                     class="drag_drop px-2 bg-black-35 dashboard fcc text-center pb-1">
                    <span id="drag_drop_rp_file-name" class="text-white-75 fs-5 fw-7">Files</span>
                    <input type="file" multiple="multiple" name="files[]" value=""
                           id="files" class="d-none">
                </div>
            </div>

            <p class="text-white-80 text-center mb-0 mt-1 fs-4" id="size"></p>

            <div id="img-zone" class="row p-0 my-1"></div>

            <table class="table table-striped-columns">
                <tbody id="file-zone"></tbody>
            </table>


            <div id="btn-recaptcha-marked" class="text-center my-3">
                <button id="btn_submit"
                        class="mx-auto btn-1 fs-5 fw-bold px-4 py-1 w-minc disable-tap-and-selection">
                    Upload
                </button>
            </div>
            {% include 'Core/includes/recaptcha_script.html' with mark_el_id='btn-recaptcha-marked'%}
        </form>
    </div>
    <input type="hidden" id="MAX_UPLOAD_SIZE" value="
        {% if user.is_authenticated %}{% max_upload_size_authed %}
        {% else %}{% max_upload_size_anon %}{% endif %}
    ">
{% endblock %}