{% extends 'Core/index.html' %}
{% load flex_static %}
{% load Core_tags %}
{% load APP_filehost_tags %}
{% load Core_tags %}

{% block title %}xlartas | host{% endblock %}

{% block meta_keywords %}fast file host hosting быстрый файловый хостинг хост для картинок загрузить
    картинки{% endblock %}
{% block meta_og_description %}Быстрый файловый хостинг{% endblock %}
{% block meta_description %}File host{% endblock %}
{% block meta_twitter_description %}File host{% endblock %}

{% block link_content_css %}
    <link rel="stylesheet" href="{% static 'Core/css/drag_and_drop.css' %}">
{% endblock %}
{% block scripts %}
{% endblock %}

{% block content %}
    <div id="content" class="container d-none fcc
     no_scrollbar mb-0 flex-grow-1"
         style="max-width: 600px!important;">
        <div class="frc mt-4 gap-3 mb-3">
            <h1 class="text-center text-white disable-tap-and-selection fs-1 m-0">
                Uploads
            </h1>
            <div class="fcc">
                <a href="{% url 'host:create' %}" class="btn-3 fs-5 text-decoration-none">Загрузить</a>
            </div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th class="text-white-90 text-center" scope="col">Name</th>
                <th class="text-white-90 text-center" scope="col">Size</th>
                <th class="text-white-90 text-center" scope="col">Date created</th>
            </tr>
            </thead>
            <tbody>
            {% for upload in uploads_ %}
            <tr>
                <th class="text-white-80 text-center" scope="row">
                    <a href="{% url 'host:read' upload.key %}" class="color-inherit text-decoration-none">
                        {{ upload.name|truncatechars:20 }}</a></th>
                <td class="text-white-80 text-center">{% diffFloat upload.size 1048576 %} MB</td>
                <td class="text-white-80 text-center">{{ upload.date_created }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}