{% extends 'Core/index.html' %}
{% load shop_tags %}
{% load static %}
{% load Core_tags %}
{% load Core_tags %}

{% block title %}xlartas | Resource Packs{% endblock %}

{% block meta_keywords %}текстуры для майнкрафт майнкрафта minecraft vimeworld ваймворлд вайм ворлд rp resource pack
    texture resourcepack ресурспак ресурспаки текстуры ресурс пак{% endblock %}
{% block meta_og_description %}Ресурспаки{% endblock %}
{% block meta_description %}Resource Packs{% endblock %}
{% block meta_twitter_description %}Resource Packs{% endblock %}

{% block link_content_css %}
    <link rel="stylesheet" href="{% static 'APP_resource_pack/css/rp.css' %}">
    <link rel="stylesheet" href="{% static 'Core/css/search.css' %}">
{% endblock %}
{% block scripts %}
    <script src="{% static 'APP_resource_pack/js/catalog.js' %}"></script>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <input id="username" value="{{ user.get_username }}" type="hidden"/>
    {% else %}
        <input id="username" value="" type="hidden"/>
    {% endif %}
    <div id="content" class="container d-flex d-none flex-column justify-content-center
     no_scrollbar mb-0 flex-grow-1 overflow-y-hidden"
         style="max-width: 900px!important;">
        <div class="frc mt-4 mb-2 gap-3">
            <h1 class="fs-1 text-center text-white disable-tap-and-selection m-0">Resource Packs</h1>
            <div class="d-none d-sm-flex flex-column justify-content-end">
                <a href="{% url 'rp:add_new' %}" class="btn-3 fw-8 fs-4 text-decoration-none" target="_blank">
                    <span class="mx-auto">+ New RP</span>
                </a>
            </div>
        </div>
        <button type="button"
                class="mb-3 fs-5 mx-auto badge rounded-pill text-white-70 bg-black-25 text-white-50 popover-dismiss"
                data-bs-container="body" data-bs-toggle="popover"
                data-bs-placement="bottom" data-bs-trigger="focus" style="width: min-content" data-bs-content="
                Тут ты можешь найти ресурс-пак на любой вкус и цвет, либо загрузить свой.
        Нажав на картинку, только на pc, она увеличится. Сайт отлично масштабируется,
        если плохо видны картинки просто увеличь масштаб страницы до нужного. Нажав на стрелочку
        вправо, загрузится следующая картинка, если она есть. Так же не забывай жать на лайки, если тебе
        понравится ресурс-пак. Если нашёл дубликаты рп или баги, смело пиши по контактным
        данным, все исправим.">
            Информация
        </button>
        <button id="btn_show_filters" class="btn-3 only_touch w-minc fs-5 mx-auto mb-2">Фильтры</button>
        <div id="filter_block" class="row mb-3">
            <div class="d-flex flex-column justify-content-center gap-3">
                <div class="fcc flex-sm-row gap-2">
                    <div class="frc gap-2">
                        {# RES #}
                        <div class="select fcc">
                        <span class="fs-4 text-white text-opacity-75 text-center
                        disable-tap-and-selection">Res</span>
                            <input type="hidden" name="resolution" id="select_input-resolution" value="All">
                            <div style="min-width: 80px;" class="select_block select_block-active">
                                <div class="select_btn fs-6 fw-bold px-3 py-1 bg-black bg-opacity-10
                                    text-white-75  disable-tap-and-selection text-center"
                                     id="select_btn-resolution">
                                    <span id="select_value-resolution">All</span>&nbsp;&nbsp;<i
                                        class="fa-solid fa-caret-down"></i>
                                </div>
                                <div id="select_menu-resolution"
                                     class="select_menu text-white-75 fs-6 rounded-bottom-3
                         bg-black bg-opacity-10 flex-column text-center">
                                    {% for resolution in rp.Resolution.values %}
                                        <div value="{{ resolution }}"
                                             class="select_menu-item select_menu-resolution-item py-1">
                                            <span class="m-0 disable-tap-and-selection">{{ resolution }}</span>
                                        </div>
                                    {% endfor %}
                                    <div value="All"
                                         class="select_menu-item select_menu-resolution-item py-1 rounded-bottom-3">
                                        <span class="m-0 disable-tap-and-selection">All</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {# STYLE #}
                        <div class="select fcc">
                    <span class="fs-4 text-white text-opacity-75 text-center disable-tap-and-selection">
                        Style</span>
                            <input type="hidden" name="style" id="select_input-style" value="All">
                            <div style="min-width: 100px;" class="select_block select_block-active">
                                <div class="select_btn fs-6 fw-bold px-3 py-1 bg-black bg-opacity-10
                                    text-white-75 disable-tap-and-selection text-center"
                                     id="select_btn-style">
                                    <span id="select_value-style">All</span>&nbsp;&nbsp;<i
                                        class="fa-solid fa-caret-down"></i>
                                </div>
                                <div id="select_menu-style"
                                     class="select_menu text-white-75 fs-6 rounded-bottom-3
                         bg-black bg-opacity-10 flex-column text-center">
                                    {% for style in rp.Style.values %}
                                        <div value="{{ style|title }}"
                                             class="select_menu-item select_menu-style-item py-1">
                                    <span class="m-0 disable-tap-and-selection">
                                        {{ style|title }}</span>
                                        </div>
                                    {% endfor %}
                                    <div value="All"
                                         class="select_menu-item select_menu-style-item py-1 rounded-bottom-3">
                                    <span class="m-0 disable-tap-and-selection">
                                        All</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="frc gap-2">
                        {# COLOR #}
                        <div class="select fcc">
                    <span class="fs-4 text-white text-opacity-75 text-center disable-tap-and-selection">
                        Color</span>
                            <input type="hidden" name="color" id="select_input-color" value="All">
                            <div style="min-width: 100px;" class="select_block select_block-active">
                                <div class="select_btn fs-6 fw-bold px-3 py-1 bg-black bg-opacity-10
                                    text-white-75 disable-tap-and-selection text-center"
                                     id="select_btn-color">
                                    <span id="select_value-color">All</span>&nbsp;&nbsp;<i
                                        class="fa-solid fa-caret-down"></i>
                                </div>
                                <div id="select_menu-color"
                                     class="select_menu text-white-75 fs-6 rounded-bottom-3
                         bg-black bg-opacity-10 flex-column text-center">
                                    {% for color in rp.Color.values %}
                                        <div value="{{ color|title }}"
                                             class="select_menu-item select_menu-color-item py-1">
                                    <span class="m-0 disable-tap-and-selection">
                                        {{ color|title }}</span>
                                        </div>
                                    {% endfor %}
                                    <div value="All"
                                         class="select_menu-item select_menu-color-item py-1 rounded-bottom-3">
                                    <span class="m-0 disable-tap-and-selection">
                                        All</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {# Author #}
                        <div class="select fcc">
                            <span class="fs-4 text-white text-opacity-75 text-center disable-tap-and-selection">User</span>
                            <input type="hidden" name="author" id="select_input-author" value="All">
                            <div style="min-width: 200px;" class="select_block select_block-active">
                                <div class="select_btn fs-6 fw-bold px-3 py-1 bg-black bg-opacity-10
                                    text-white-75  disable-tap-and-selection text-center"
                                     id="select_btn-author">
                                    <span id="select_value-author">All</span>&nbsp;&nbsp;<i
                                        class="fa-solid fa-caret-down"></i>
                                </div>
                                <div id="select_menu-author"
                                     class="select_menu text-white-75 fs-6 rounded-bottom-3
                                            bg-black bg-opacity-10 flex-column text-center">
                                    {% for author in authors %}
                                        <div value="{{ author.username }}"
                                             class="select_menu-item select_menu-author-item py-1 px-3 frb">
                                            <span class="m-0 disable-tap-and-selection">
                                                {{ author.username }}</span>
                                            <span>{{ author.rp_count }}</span>

                                        </div>
                                    {% endfor %}
                                    <div value="All"
                                         class="select_menu-item select_menu-author-item py-1 rounded-bottom-3">
                                    <span class="m-0 disable-tap-and-selection">
                                        All</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="frc gap-3">
                        {# SORT #}
                        <div class="frc">
                            <div class="select sort_block frc gap-2">
                                <div class="flex-col-center justify-content-md-end">
                            <span class="fs-4 text-white text-opacity-75 text-center
                                disable-tap-and-selection mb-0 mb-md-1">Sort: </span></div>
                                <input type="hidden" name="sort" id="select_input-sort" value="Date">
                                <div style="min-width: 100px;"
                                     class="select_block d-flex flex-column select_block-active
                             justify-content-center justify-content-md-end">
                                    <div class="select_btn fs-6 fw-bold px-3 py-1 bg-black bg-opacity-10
                                    text-white-75 disable-tap-and-selection text-center"
                                         id="select_btn-sort">
                                        <span id="select_value-sort">Date</span>&nbsp;&nbsp;<i
                                            class="fa-solid fa-caret-down"></i>
                                    </div>
                                    <div id="select_menu-sort"
                                         class="select_menu text-white-75 fs-6 rounded-bottom-3
                         bg-black bg-opacity-10 flex-column text-center">
                                        <div value="Likes" class="select_menu-item select_menu-sort-item py-1">
                                            <span class="m-0 disable-tap-and-selection">Likes</span>
                                        </div>
                                        <div value="Loads" class="select_menu-item select_menu-sort-item py-1">
                                            <span class="m-0 disable-tap-and-selection">Loads</span>
                                        </div>
                                        <div value="Date" class="select_menu-item select_menu-sort-item py-1">
                                            <span class="m-0 disable-tap-and-selection">Date</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-col-center justify-content-sm-end">
                            <div id="btnApplyFilters" class="btn-3 fw-8 fs-4">
                                <span class="mx-auto">Apply</span>
                            </div>
                        </div>
                    </div>


                </div>


            </div>

            <div class="mb-1 mt-3 search-1">
                <div class="search-block">
                    <label for='search' class="d-none"></label>
                    <div class="search-icon-block">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <input type="text" class="fs-5"
                           placeholder="Rp name" name="search"
                           id='search' required/>
                    <div id="search-result"></div>
                </div>
            </div>


        </div>
        <div style="height: 1px;" class="w-75 mx-auto bg-white bg-opacity-50"></div>
        <div class="rps_block_scroll pb-3 overflow-y-scroll no_scrollbar">
            <div class="row rps_container p-0 m-0">

            </div>
        </div>
    </div>
{% endblock %}