{% load recaptcha_tags %}
<script>
    window.addEventListener('load', function (e) {
        let for_insert = document.getElementById('{{ mark_el_id }}');
        let el = document.createElement('script');
        el.setAttribute('src', 'https://www.google.com/recaptcha/api.js');
        let el2 = document.createElement('div');

        el2.setAttribute("data-sitekey", "{% get_GOOGLE_RECAPTCHA_SITE_KEY %}");

        el2.classList.add('g-recaptcha');
        const isTouch = document.getElementsByTagName('body')[0].classList.contains('_touch')

        {% if compact == 'True' %}
            el2.setAttribute("data-size", "compact");
            if (isTouch) {
                el2.classList.add('g-recaptcha-touch-compact');
            } else {
                el2.classList.add('g-recaptcha-pc-compact');
            }
        {% else %}
            if (isTouch) {
                el2.classList.add('g-recaptcha-touch');
            } else {
                el2.classList.add('g-recaptcha-pc');
            }
        {% endif %}
        const intervalId = setInterval(() => {
            const reCAPTCHA = document.querySelector('iframe[title="reCAPTCHA"]');
            if (reCAPTCHA) {
                clearInterval(intervalId);
                {% if compact == 'True' %}
                    if (isTouch) {
                        reCAPTCHA.setAttribute('width', '174');
                        reCAPTCHA.setAttribute('height', '152');
                    } else {
                        reCAPTCHA.setAttribute('width', '158');
                        reCAPTCHA.setAttribute('height', '138');
                    }

                {% else %}
                    reCAPTCHA.setAttribute('width', '331');
                    reCAPTCHA.setAttribute('height', '82.5');
                {% endif %}
            }
        }, 100);

        for_insert.before(el);
        for_insert.before(el2);
    });
</script>