{% load flex_static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{% block title %} {% endblock %}</title>
    {% block link_content_css %}{% endblock %}
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <link rel="icon" type="image/png" href="{% static 'Core/img/logo.png' %}">
    <link href="{% static 'Core/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'Core/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'Core/css/buttons.css' %}" rel="stylesheet">
    <link href="{% static 'Core/css/inputs.css' %}" rel="stylesheet">
    {% block head_scripts %}{% endblock %}
    <script src="https://vk.com/js/api/openapi.js?169" type="text/javascript"></script>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta property="og:description" content="{% block meta_og_description %}{% endblock %}">
    <meta name="keywords"
          content="{% block meta_keywords %}{% endblock %} xlartas">
    {# Отключает формирование ссылки у номера телефона на iOS #}
    <meta name="format-detection" content="telephone=no">
    {# Автор страницы #}
    <meta name="Author" content="Nikita Artasov">
    {# Авторские права #}
    <meta name="Copyright" content="Nikita Artasov">
    {# Адрес автора #}
    <meta name="Address" content="Russia">
    {# локализация сайта, для русскоязычного сайта ru_RU #}
    <meta property="og:locale" content="ru_RU">
    {# тип контента, по умолчанию используется article #}
    <meta property="og:type" content="article">
    {# заголовок страницы, который будет выводиться в записи социальной сети #}
    <meta property="og:title" content="xlartas">
    {# ссылка на изображение, которое будет публиковаться в записи #}
    <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'Core/img/logo.png' %}">
    {# ссылка на текущую страницу #}
    <meta property="og:url" content="{{ request.path }}">
    {# название сайта #}
    <meta property="og:site_name" content="xlartas">
    {# Тип карты, по умолчанию используется summary #}
    <meta name="twitter:card" content="summary">
    {# Имя/логин автора #}
    <meta name="twitter:site" content="Nikita Artasov">
    {# Название страницы #}
    <meta name="twitter:title" content="xlartas">
    {# Описание страницы #}
    <meta name="twitter:description" content="{% block meta_twitter_description %}{% endblock %}">
    {# Ссылка на изображение #}
    <meta name="twitter:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'Core/img/logo.png' %}">
    <script src="{% static 'Core/js/kit.fontawesome.js' %}"></script>
    <meta id="theme" content="{{ theme }}">
</head>
<body class="bg-dark">
<img class="bg-image" id="bg-image" src="{% static 'Core/img/theme_bg.jpg' %}" alt="#">

<div id="wrapper" class="wrapper d-flex flex-column overflow-hidden position-relative">
    {% include 'Core/includes/header.html' %}
    <main class="no_scrollbar overflow-y-scroll d-flex flex-column flex-grow-1" style="margin-top: 66px;">
        <div id="loading_spinner_block">
            <div id="loading_spinner_block-help">
                <div id="loading_spinner" class="spinner-border fs-4 text-white-50 opacity-50" role="status"></div>
            </div>
        </div>
        {% block content %}{% endblock %}</main>
    {% include 'Core/includes/footer.html' %}
</div>

<script src="{% static 'Core/js/jquery-3.6.3.min.js' %}"></script>
<script src="{% static 'Core/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'Core/js/check_device.js' %}"></script>
<script src="{% static 'Core/js/main.js' %}"></script>
<script src="{% static 'Core/js/header.js' %}"></script>
<script src="{% static 'Core/js/buttons.js' %}"></script>
<script src="{% static 'Core/js/inputs.js' %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>


