{% extends 'Core/index.html' %}
{% load static %}
{% load Core_tags %}
{% load Core_tags %}

{% block title %}xlartas{% endblock %}

{% block meta_keywords %}главная Main{% endblock %}
{% block meta_description %}главная{% endblock %}
{% block meta_og_description %}Main page{% endblock %}
{% block meta_twitter_description %}Main page{% endblock %}

{% block link_content_css %}
    <link rel="stylesheet" href="{% static 'Core/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'Core/css/borders.css' %}">
{% endblock %}

{% block content %}
    <div id="content" class="d-none container no_scrollbar overflow-y-scroll disable-tap-and-selection"
         data-bs-theme="dark">
        <div class="mx-auto container-sm p-0 pe-md-4" id="about-block">
            {#            about#}
            <div class="frc my-4 gap-2 gap-sm-3">
                <img src="{% static 'Core/img/art-square.jpg' %}" alt=""
                     style="width: 130px; height: 130px; border-radius: 50%; box-shadow: 0 0 20px white;">
                <div class="fcc" style="width: 180px;">
                    <h1 class="m-0 text-white fw-bold text-center"
                        style="letter-spacing: 0.3rem; font-size: calc(1.675rem + 1.4vw)!important;">
                        xlartas<br>
                    </h1>
                    <h2 class="m-0 fs-5 text-white-70 text-center">
                        Разработка web-приложений на заказ.
                    </h2>
                </div>
            </div>
            {#            products#}
            <div class="frc my-3 gap-3 gap-sm-4 mx-auto" style="max-width: 500px;">
                {% for product in products %}
                    <a href="{% url 'shop:product_program' product.name %}"
                       class="
                       product-card-small px-3 rounded-4
                       text-decoration-none text-center bg-black-10 py-3"
                       style="max-width: 150px; box-shadow: 0 0 10px rgba(0,0,0,.5)">
                        <div class="position-relative">
                            <img src="{{ product.img.url }}" alt="" class="w-100 hover-scale-10">
                            <img src="{{ product.img.url }}" alt=""
                                 class="rotate360anim w-100 position-absolute top-0 left-0 z-n1"
                                 style="filter: blur(20px) contrast(2) saturate(200%)">
                        </div>
                        <h3 class="fs-5 text-white-90 mt-3 fw-bold m-0">
                            {{ product.name }}
                        </h3>
                    </a>
                {% endfor %}
            </div>
            {#            rainbow#}
            <div class="redblue-border-blured pe-3 py-2 ps-3 fcc gap-2"
                 style="background: rgba(17, 17, 35, .8); max-width: 130px; margin-top: 30px;">

                <a class="frc gap-1 text-decoration-none" href="{% url 'about' %}">
                    <i class="fa-solid fa-circle-info me-2 fs-6 text-white-80 hover-scale-10"></i>
                    <h3 class="fs-6 m-0 text-white-80 text-left hover-scale-10" style="width: 100px">About</h3>
                </a>
                <a class="frc gap-1 text-decoration-none" href="{% url 'donate' %}">
                    <i class="fa-solid fa-circle-dollar-to-slot me-2 fs-6 text-white-80 hover-scale-10"></i>
                    <h3 class="fs-6 m-0 text-white-80 text-left hover-scale-10" style="width: 100px">Donate</h3>
                </a>
                <a class="frc gap-1 text-decoration-none" href="{% url 'host:create' %}">
                    <i class="fa-solid fa-file-export me-1 fs-6 text-white-80 hover-scale-10"></i>
                    <h3 class="fs-6 m-0 ps-1 text-white-80 text-left hover-scale-10" style="width: 100px">File Host</h3>
                </a>
            </div>
        </div>
    </div>
{% endblock %}