{% load flex_static %}
{% load Core_tags %}
<ul class="fcc p-0 gap-2 m-0">
    <li class="frc text-white-75 gap-3">
        <div class="d-flex gap-1 disable-tap-and-selection" style="width: 100px;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="ЛКМ/ПКМ. До 1000 cps, в зависимости от мощности pc. 3 режима.">
            <div class="fcc">
                <img src="{% static 'APP_shop/img/CLICKER.png' %}" width="25" height="25"
                     alt=""></div>
            <div class="fcc">
                <span class="fs-6 fw-8" style="margin-top: 2px;">Clicker</span></div>
        </div>
        <div class="d-flex gap-1 disable-tap-and-selection" style="width: 100px;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Автоматический спринт.">
            <div class="fcc">
                <img src="{% static 'APP_shop/img/SPRINT.png' %}" width="25" height="25"
                     alt=""></div>
            <div class="fcc">
                <span class="fs-6 fw-8" style="margin-top: 2px;">Sprint</span></div>
        </div>
    </li>
    <li class="frc text-white-75 gap-3">
        <div class="d-flex gap-1 disable-tap-and-selection" style="width: 100px;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Автоматическая удочка. 2 режима. Когда вы играете вы постоянно переключаете первый второй слот и нажимаете ПКМ. Теперь вместо 3-х действий 1.">
            <div class="fcc">
                <img src="{% static 'APP_shop/img/ROD.png' %}" width="23" height="23"
                     alt="" style="margin-right: 2px;"></div>
            <div class="fcc">
                <span class="fs-6 fw-8" style="margin-top: 2px;">Rod</span></div>
        </div>
        <div class="d-flex gap-1 disable-tap-and-selection" style="width: 100px;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Моментальное лутание сундуков одной кнопкой.">
            <div class="fcc">
                <img src="{% static 'APP_shop/img/LOOT.png' %}" width="25" height="25"
                     alt=""></div>
            <div class="fcc">
                <span class="fs-6 fw-8" style="margin-top: 2px;">Loot</span></div>
        </div>
    </li>
    <li class="frc text-white-75 gap-3">
        <div class="d-flex gap-1 disable-tap-and-selection" style="width: 100px;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Автоматическое сбрасывание потов по одной кнопке на pot режимах.">
            <div class="fcc">
                <img src="{% static 'APP_shop/img/POT.png' %}" width="23" height="23"
                     alt="" style="margin-right: 2px;"></div>
            <div class="fcc">
                <span class="fs-6 fw-8" style="margin-top: 2px;">Pot</span></div>
        </div>
        <div class="d-flex gap-1 disable-tap-and-selection" style="width: 100px;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Автоматическое использование супов для регенерации на соответствующих режимах.">
            <div class="fcc">
                <img src="{% static 'APP_shop/img/SOUP.png' %}" width="25" height="25"
                     alt=""></div>
            <div class="fcc">
                <span class="fs-6 fw-8" style="margin-top: 2px;">Soup</span></div>
        </div>
    </li>
    <li class="frc text-white-75 gap-3">
        <div class="d-flex gap-1 disable-tap-and-selection" style="width: 100px;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Автоматическая лава/зажигалка по одной кнопке. 4 режима">
            <div class="fcc">
                <img src="{% static 'APP_shop/img/FIRE.png' %}" width="23" height="23"
                     alt="" style="margin-right: 2px;"></div>
            <div class="fcc">
                <span class="fs-6 fw-8" style="margin-top: 2px;">Fire</span></div>
        </div>
        <div class="d-flex gap-1 disable-tap-and-selection" style="width: 100px;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Замораживание процесса для имитации лагов.">
            <div class="fcc">
                <img src="{% static 'APP_shop/img/FROZEN.png' %}" width="25" height="25"
                     alt=""></div>
            <div class="fcc">
                <span class="fs-6 fw-8" style="margin-top: 2px;">Frozen</span></div>
        </div>
    </li>
    <li class="frc text-white-75 gap-3">
        <div class="d-flex gap-1 disable-tap-and-selection" style="width: 100px;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Несколько полезных функций и контроль кб и хитов в реальном времени.">
            <div class="fcc">
                <img src="{% static 'APP_shop/img/BOOST.png' %}" width="23" height="23"
                     alt="" style="margin-right: 2px;"></div>
            <div class="fcc">
                <span class="fs-6 fw-8" style="margin-top: 2px;">Boost</span></div>
        </div>
        <div class="d-flex gap-1 disable-tap-and-selection" style="width: 100px;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Автостроительство 3 режима.">
            <div class="fcc">
                <img src="{% static 'APP_shop/img/BRIDGE.png' %}" width="25" height="25"
                     alt=""></div>
            <div class="fcc">
                <span class="fs-6 fw-8" style="margin-top: 2px;">Bridge</span></div>
        </div>
    </li>
</ul>