{% extends 'Core/index.html' %}
{% load static %}
{% load Core_tags %}

{% block title %}xlartas | Private msg{% endblock %}

{% block meta_keywords %}Приват приватные сообщения сообщение закрытое скрытое скрыть одноразовое одноразовый msg
    private message{% endblock %}
{% block meta_og_description %}Приватные сообщения{% endblock %}
{% block meta_description %}Private msg{% endblock %}
{% block meta_twitter_description %}Private msg{% endblock %}

{% block link_content_css %}
    <link rel="stylesheet" href="{% static 'Core/css/audio.css' %}">
{% endblock %}
{% block scripts %}
    <script src="{% static 'APP_private_msg/js/read.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="content" class="container d-none flex-col-center
     no_scrollbar mb-0 flex-grow-1"
         style="max-width: 600px!important;">
        <h1 class="text-center text-white disable-tap-and-selection mt-4">
            Msg Read
        </h1>
        {% if read %}
            <p class="text-center text-white-80 px-2 my-1">{{ msg.msg }}</p>
            {% if msg.file %}
                <a href="{{ msg.file.url }}" download="{{ msg.file.name }}"
                   class="mx-auto btn-1 fs-5 fw-bold my-1 px-4 py-1 w-minc text-decoration-none"
                   onclick="this.remove();">File</a>
            {% endif %}
            {% if msg.voice_msg %}
                <audio controls id="audio-player" class="d-none">
                    <source src="{{ msg.voice_msg.url }}" type="audio/ogg">
                </audio>
                <div id="play-audio-btn" class="btn-play mx-auto my-1"></div>
            {% endif %}
        {% else %}
            <a href="{% url 'private-msg:read' key %}"
               class="mx-auto btn-1 fs-5 fw-bold mt-2 px-4 py-1 w-minc text-decoration-none">
                Read</a>
        {% endif %}
    </div>
{% endblock %}