{% load static %}
{% load Core_tags %}
{% load harmony_tags %}
<form class="fcc gap-2 mb-3" id="chords_by_template_form">
    <p class="error_field fw-bold text-danger text-center m-0 mb-0"></p>
    <div class="frc gap-2">

        {% get_all_modes as modes %}
        {% include 'Core/includes/select_tag.html' with id='all_modes_2' classes='frc' select_input_name='mode' elements_dict=modes default_value='min' %}
        {% get_all_qualities as qualities %}
        {% include 'Core/includes/select_tag.html' with id='all_qualities_2' classes='frc' select_input_name='quality' elements_dict=qualities default_value='base' %}
        <div class="fcc">
            <input class="form-check-input mx-auto" type="checkbox" name="dim" id="dim"
                   style="filter: grayscale(1) contrast(1.3);">
            <label for="dim" class="text-center">dim</label>
        </div>

    </div>
    <div class="frc gap-2">
        <button type="button" class="submit btn-3 btn-3-submit fw-bold rounded-3 py-1 px-4 w-min-content">
            Get
        </button>
        <h2 class="text-white-80 text-center fs-6 my-auto" style="line-height: 0.9rem">Out<br>Type</h2>
        {% get_out_sharp_or_flat_types as out_sharp_or_flat_types %}
        {% include 'Core/includes/select_tag.html' with id='out_sharp_or_flat_types_2' style='max-width: 100px;' classes='frc' select_input_name='out_sharp_or_flat' elements_dict=out_sharp_or_flat_types default_value='sharp' %}

    </div>
    <div class="fcc fs-6 gap-2">
        <div id="progression_template" style="box-shadow: 0 0 15px #00000088;"></div>

        <div id="chord-list">
            {% get_accords_dict as accords_dict %}
            <div class="chord-box fs-1" draggable="true"
                 onclick="addChord('*')"><span style="padding-top: 0.43em">*</span></div>
            {% for chord_name, chord_value in accords_dict.items %}
                <div class="chord-box" draggable="true"
                     onclick="addChord('{{ chord_value }}')"><span>{{ chord_value }}</span></div>
            {% endfor %}
        </div>
    </div>


    <div class="gap-3 result_container py-5 position-relative d-none mx-auto bg-black-15 rounded-5 fcc text-white-80 px-4"
        style="max-width: 700px;">
        <button class="btn-close"
                style="position:absolute; top: 15px; right: 15px; width: 13px; height: 13px"></button>
    </div>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
<script src="{% static 'APP_Harmony/js/chords_by_template_form.js' %}"></script>
