{% extends 'Core/index.html' %}
{% load static %}
{% load Core_tags %}
{% load socialaccount %}
{% block title %}xlartas | RESET PASSWORD{% endblock %}

{% block meta_keywords %}RESET PASSWORD{% endblock %}
{% block meta_description %}Reset password{% endblock %}
{% block meta_og_description %}Сброс пароля{% endblock %}
{% block meta_twitter_description %}Reset password{% endblock %}

{% block content %}
    <div id="content" class="container d-none  fcc flex-grow-1" data-bs-theme="dark"
         style="max-width: 400px;">
        <div class="row disable-tap-and-selection ">
            <form class="px-3 py-1 text-center" method="post" action="{% url 'password_reset' %}">{% csrf_token %}
                <h1 class="text-dark-emphasis fs-1">RESET PASSWORD</h1>
                {% if invalid %}
                    <div><span class="text-danger">{{ invalid }}</span></div>
                {% endif %}
                {% include 'Core/includes/form.html' with form=form %}
                <div class="text-center pt-3 pb-1">
                    <button id='btn-recaptcha-marked' type="submit" id="button" data-text="RESET" data-text-done=""
                            class="btn-13 bg-transparent text-dark-emphasis mt-3"></button>
                    {% include 'Core/includes/recaptcha_script.html' with mark_el_id='btn-recaptcha-marked'%}
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{#<form class="u__form" method="post" action="{% url 'password_reset' %}">{% csrf_token %}#}
{##}
{#    <p class="u-text6 u-text-align-center" style="color: #F5F5F5; font-weight: 500">Password reset</p>#}
{#    <div class="u-help">#}
{#        {% if invalid %}#}
{#            <span class="invalid">{{ invalid }}</span>#}
{#        {% endif %}#}
{#        {% if captcha_invalid %}#}
{#            <span class="invalid">{{ captcha_invalid }}</span>#}
{#        {% endif %}#}
{#        <div class="u__fields" style="margin-bottom: 13px;">#}
{#            <input name="email" type="text" placeholder="Email" class="u__field u-text3"#}
{#                   style="text-align: center;padding: 0;">#}
{#        </div>#}
{#        <label style="display: none;" class="insert_captcha"></label>#}
{#    </div>#}
{#    <input class="u-submit" type="submit" value="Next">#}
{##}
{#</form>#}